<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Chat</title>
      <link rel="stylesheet" href="/stylesheets/style-chat.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="/socket.io/socket.io.js"></script>
</head>

<body>
      <nav>
            <div class="menu-icon">
                  <div class="container" onclick="lol(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                  </div>
            </div>

            <div class="menu">
                  <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/Enciclopedia">Enciclopedia</a></li>
                        <li><a href="/Chi-siamo">Calendario</a></li>
                        <li><a href="/Chat">Chat</a></li> 
                        <li id="destra-user" style="float:right;"><a href="/User"><i
                              class="fas fa-user"></i> Profilo</a></li>                       
                  </ul>

            </div>
      </nav>
      <div>
            <div class="sinistra">

            </div>
            <div class="chat-messages">

            </div>
      </div>
      <div class="content">
            <form id="chat-form">
                  <input autocomplete="off" type="text" class="messaggio" id="msg" placeholder="Scrivi un messaggio"
                        required />
                  <button type="submit" class="manda" id="send-button"><span class="annulla">Send </span><i class="fas fa-paper-plane"></i></button>

            </form>
      </div>

      <script>
            const chatForm = document.getElementById('chat-form');
            const chatMessages = document.querySelector('.chat-messages');
            const socket = io();

            socket.on('message', message => {
                  console.log(message);
                  outputMessage(message);

                  chatMessages.scrollTop = chatMessages.scrollHeight;
            });

            chatForm.addEventListener('submit', (e) => {
                  e.preventDefault();
                  const msg = e.target.elements.msg.value;
                  socket.emit('chatMessage', msg);
                  e.target.elements.msg.value= '';
                  e.target.elements.msg.focus();
            });

            function outputMessage(message) {
                  const div = document.createElement('div');
                  div.classList.add('message');
                  div.innerHTML = `
                  <span class="time">${message.time} </span><span class="username">${message.username}</span> <span class="username">[${message.branca}]</span>
            <span>: </span><span class="text">${message.text}</span>`
                  document.querySelector('.chat-messages').appendChild(div);
            }

      </script>
      <script type="text/javascript">

            // Menu-toggle button

            $(document).ready(function () {
                  $(".menu-icon").on("click", function () {
                        $("nav ul").toggleClass("showing");
                  })

            });

            // Scrolling Effect

            $(window).on("scroll", function () {
                  if ($(window).scrollTop()) {
                        $('nav').addClass('black');
                  }

                  else {
                        $('nav').removeClass('black');
                  }
            })
            function lol(y) {
                  y.classList.toggle("change");
            }

      </script>

</body>

</html>