<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>CHI SIAMO</title>
      <link rel="stylesheet" href="/stylesheets/nav.css">
      <link rel="stylesheet" href="/stylesheets/footer.css">
      <link rel="stylesheet" href="/stylesheets/style-ChiSiamo.css">
      <link rel="stylesheet" href="/stylesheets/style-tutti.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
      <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
      <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
      <script src="javascripts/tutti.js"></script>
</head>

<body>
      <nav>
            <div class="menu-icon">
                  <div class="container" onclick="lol(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                  </div>
            </div>
            <a href="/" class="nascosto"><i class="fas fa-home casa"></i></a>
            <div class="menu">
                  <ul>
                        <li><a href="/Chi_Siamo">Chi Siamo</a></li>
                        <li><a href="/Calendario">Calendario</a></li>
                        <li><a href="/Prenotazione">Prenotazione</a></li>
                        <li id="destra1" style="float:right" class="nascosto2"><a href="/">Home <i
                                          class="fas fa-home"></i></a></li>
                        <li id="destra1" style="float:right"><a href="/Login">Login <i
                                          class="fas fa-sign-in-alt"></i></a></li>
                  </ul>

            </div>
      </nav>
      <div class="wrapper">
            <div class="parallax imgmain ">
                  <div class="path">
                        <svg preserveAspectRatio="none" viewBox="0 0 1200 240">
                              <path class="st0" d="M0,240.34V25.91c129.62-3.18,259.24-6.36,396-3.57s280.66,11.54,425.33,17.87s290.13,10.23,400,0
S1405.49,5.63,1516,0.9c110.51-4.74,257.26,10.14,404,25.02v214.43H0z" />
                              <path class="st1" d="M0,240.34V124.25c130.85,0.52,261.69,1.04,373.33-4.17s204.08-16.14,324-14.6
c119.92,1.55,267.31,15.58,408,25.72s274.67,16.4,409.33,14.6c134.66-1.81,270-11.68,405.33-21.55v116.08H0z" />
                        </svg>
                  </div>
                  <img src="images/logo.jpg" class="titolo">
            </div>

            <div class="content">
                  <h3 class="titolo-primo">CHI SIAMO?</h3>
                  <p style="text-align: center;"><em>un' associazione sportiva</em></p>
                  <p class="descrizione">
                        L'Associazione Blukippe offre spazi sportivi per bambini e ragazzi con un focus specifico sulla
                        partecipazione inclusiva, dedicando attenzione anche a coloro con disabilità sensoriali e
                        intellettive
                  </p>
                  <div class="ChiSiamo">
                        <div class="ginnastica">
                              <img src="images/test.jpg">
                        </div>
                        <div class="attivita">
                              <span>Le nostre attività</span>
                              <p>
                                    I nostri corsi variano dalla ginnastica ritmica, allo yoga, ai tessuti aerei e a
                                    molto altro ancora<br>
                              <p class="test">Tutti gli atleti durante l'anno sportivo possono partecipare a una o più
                                    competizioni, adeguate all'età e al livello di ciascuno </p>
                              </p>
                        </div>
                  </div>


            </div>

            <h3 class="titolo-primo speciale">“Lo sport dà il meglio di sé quando ci unisce”<br><span>FRANK
                        DEFORD</span></h3>

            <div class="parent">
                  <div class="div1">
                        <img src="/images/gym.jpg">
                        <h1>Ginnastica Artistica</h1>
                  </div>
                  <div class="div2">
                        <img src="/images/yoga.jpg">
                        <h1>Yoga</h1>
                  </div>
                  <div class="div3">
                        <img src="/images/tessuti.jpg">
                        <h1>Tessuti Aerei</h1>
                  </div>
                  <div class="div4">
                        <img src="/images/thai.jpg">
                        <h1>Thai Chi</h1>
                  </div>
                  <div class="div5">
                        <img src="/images/ritmica.jpg">
                        <h1>Ginnastica Ritmica</h1>
                  </div>
                  <div class="div6">
                        <img src="/images/teatro.jpg">
                        <h1>Teatro</h1>
                  </div>
            </div>
            <div class="content2 nascosto2">
                  <img class="vecchio vecchio1" src="/images/vecchio.jpg">
                  <img class="vecchio vecchio2" src="/images/storia.jpg">
                  <div class="ChiSiamo2"></div>
                  <div class="ChiSiamo3"></div>
                  <div class="cerchio">
                        <h3 class="titolo-primo">LA NOSTRA STORIA</h3>
                        <p style="text-align: center;"><em>Sport, Arte e Inclusione</em></p>
                        <p style="margin:0;padding:10px">
                              L'Associazione Sportiva "Blukippe" nata nel 1999 dalla passione e dall'esperienza di
                              alcune persone nell'ambito dello sport, della musica e dell'espressione artistica nelle
                              sue
                              diverse forme. Accoglie, fin dalla fondazione, tra i suoi atleti bambini e ragazzi con
                              disabilità
                              favorendone l'inserimento nei corsi regolari ma garantendo contemporaneamente sostegno e
                              interventi specifici
                        </p>

                  </div>
            </div>
            <div class="content nascosto">
                  <h3 class="titolo-primo">LA NOSTRA STORIA</h3>
                  <p style="text-align: center;"><em>Sport, Arte e Inclusione</em></p>
                  <p style="margin:0;padding:10px">
                        L'Associazione Sportiva "Blukippe", nata nel 1999 e rinominata nel 2002, offre corsi sportivi e
                        artistici per bambini e adulti. Si impegna nell'inclusione dei disabili, promuovendo eventi
                        inclusivi e collaborando con enti sociali. Obiettiva a creare un ambiente stimolante e
                        rispettoso, offrendo anche esperienze sportive internazionali annuali.
                  </p>

            </div>
            <div class="separatore">
                  <div class="flex-item-left"><span class="numero"><i class="fas fa-apple-alt"></i></span><br>Salute
                  </div>
                  <div class="flex-item-center"><span class="numero"><i
                                    class="fas fa-user-graduate"></i></span><br>Educazione</div>
                  <div class="flex-item-right"><span class="numero"><i
                                    class="fab fa-accessible-icon"></i></span><br>Inclusione</div>
                  <div class="flex-item-right"><span class="numero"><i
                                    class="fas fa-user-friends"></i></span><br>Comunità</div>
            </div>
            <br><br><br><br>



            <div class="footer">
                  <div>
                        <h1>Staff</h1>
                        <p>Pinco</p>
                        <p>Pallino</p>
                  </div>
                  <div>
                        <h1>Posto</h1>
                        <p>Palazzetto1</p>
                        <p>Palazzetto2</p>
                  </div>
                  <div>
                        <h1>Social</h1>
                        <p><a href="https://www.instagram.com/bluekippe/">bluekippe</a></p>
                        <p>+39 339 3348195</p>
                  </div>
            </div>
      </div>
      <script>
            // Scrolling Effect
            window.addEventListener("scroll", function () {
                  const nav = document.querySelector("nav");
                  if (window.scrollY) {
                        nav.classList.add("black");
                  } else {
                        nav.classList.remove("black");
                  }
            });
      </script>
</body>

</html>