<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Padova 6</title>
      <link rel="stylesheet" href="/stylesheets/style-chi.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
      <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
      <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3604002694118031"
            crossorigin="anonymous"></script>
</head>

<body>
      <div id="fb-root"></div>
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v12.0"
            nonce="belK25S5"></script>
      <nav>

            <div class="menu-icon">
                  <div class="container" onclick="lol(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                  </div>
            </div>



            <div class="menu">
                  <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/Enciclopedia">Enciclopedia</a></li>
                        <li><a href="/Chi-siamo">Chi siamo</a></li>
                        <li><a href="/Chat">Chat</a></li>
                        <li id="destra1" style="float:right"><a href="/login">Login <i
                                          class="fas fa-sign-in-alt"></i></a></li>
                        <li id="destra2" style="float:right"><a href="/register">Register</a></li>
                        <li id="destra-user" style="float:right;display:none"><a href="/User"><i class="fas fa-user"></i> Profilo</a></li>
                  </ul>

            </div>
      </nav>
      <div class="imgmain">
            <div class="custom-shape-divider-bottom-1636649910">
                  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                        preserveAspectRatio="none">
                        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                              class="shape-fill"></path>
                  </svg>
            </div>
      </div>
      <h2 class="titolo">CHI SIAMO?</h2>

      <div class="wrapper">
            <div class="content">
                  <div class="flex-container">
                        <div class="flex-item-left"></div>
                        <div class="flex-item-center">

                              <h1 class="titolo-primo">Chi siamo? Ma come non lo sai?</h1>
                              <img class="mezzo" src="images/cobra.png">
                              <p class="under-tag">Siamo un branco di magnapigigne a cui piace l'avventura e camminare
                                    nella natura, conoscere nuova gente, fare fatica e alla fine cantare a
                                    fine giornata davanti ad un fuoco.</p>
                              <hr>
                              <div class="secondo">
                                    <h1 class="titolo-altri">Chi siamo? Ma come non lo sai?</h1>
                                    <img class="mezzo" src="images/cobra.png">
                                    <p class="under-tag">Siamo un branco di magnapigigne a cui piace l'avventura e
                                          camminare nella natura, conoscere nuova gente, fare fatica e alla fine cantare
                                          a
                                          fine giornata davanti ad un fuoco.</p>
                              </div>
                              <hr>
                              <h1 class="titolo-altri"></h1>


                        </div>

                        <div class="flex-item-right">
                              <center>
                                    <div class="add-laterale">
                                          <script async
                                                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3604002694118031"
                                                crossorigin="anonymous"></script>
                                          <!-- laterale -->
                                          <ins class="adsbygoogle" style="display:block"
                                                data-ad-client="ca-pub-3604002694118031" data-ad-slot="9491286218"
                                                data-ad-format="auto" data-full-width-responsive="true"></ins>
                                          <script>
                                                (adsbygoogle = window.adsbygoogle || []).push({});
                                          </script>
                                    </div>
                              </center>
                        </div>
                  </div>
                  <div class="add-bottom">
                        <center>
                              <script async
                                    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3604002694118031"
                                    crossorigin="anonymous"></script>
                              <!-- add-bottom -->
                              <ins class="adsbygoogle" style="display:inline-block;width:728px;height:120px"
                                    data-ad-client="ca-pub-3604002694118031" data-ad-slot="2519781235"></ins>
                              <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                              </script>
                        </center>
                  </div>
            </div>
            <div class="footer">
                  <div>
                        <h1>Capi</h1>
                        <p>Pinco</p>
                        <p>Pallino</p>
                  </div>
                  <div>
                        <h1>Posto</h1>
                        <p>Cristo Re</p>
                        <p>Mondo</p>
                  </div>
                  <div>
                        <h1>Social</h1>
                        <p><a href="https://www.instagram.com/meme.pd6/">meme.pd6</a></p>
                        <p>+39 351 514 0746</p>
                  </div>
            </div>
      </div>
      <% if (message.length>0) { %>
            <script>
                  var message =<%= message %>;
                  console.log(message);
                  if (message == true) {
                        document.getElementById("destra1").style.display = "none";
                        document.getElementById("destra2").style.display = "none";
                        document.getElementById("destra-user").style.display = "block";
                  }
            </script>
      <% } %>
                  <script type="text/javascript">

                        // Menu-toggle button

                        $(document).ready(function () {
                              $(".menu-icon").on("click", function () {
                                    $("nav ul").toggleClass("showing");
                              })

                        });

                        // Scrolling Effect

                        $(window).on("scroll", function () {
                              if ($(window).scrollTop()) {
                                    $('nav').addClass('black');
                              }

                              else {
                                    $('nav').removeClass('black');
                              }
                        })
                        function lol(y) {
                              y.classList.toggle("change");
                        }

                  </script>


</body>

</html>