<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Padova 6</title>
      <link rel="stylesheet" href="/stylesheets/style-profile.css">
      <link rel="stylesheet" href="/stylesheets/style-tutti.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
      <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
      <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script>  var socket = io();</script>
</head>

<body>
      <nav>
            <div class="menu-icon">
                  <div class="container" onclick="lol(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                  </div>
            </div>

            <div class="menu">
                  <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/Enciclopedia">Enciclopedia</a></li>
                        <li><a href="/Calendario">Calendario</a></li>
                        <li><a href="/foto">Foto</a></li>
                        <li id="destra-user" style="float:right"><a href="/User"><i class="fas fa-user"></i> Profilo</a>
                        </li>
                  </ul>
            </div>
      </nav>
 <div class="wrapper">     
            <div class="content largo">
                  <h1 id="unità" style="display:inline-block"> </h1> <h1 id="righe"style="display:inline-block"></h1>
                  <h3>Dati Iscrizione:</h3>
                  <div class="tabelle">
                        <table id="mytableIscri" class="pagamenti">
                              <tr>
                                    <th>Nome</th>
                                    <th>Email</th>
                                    <th>Telefono</th>
                                    <th>Indirizzo</th>
                                    <th>Luogo di nascita</th>
                                    <th>Data di nascita</th>
                                    <th>Codice fiscale</th>
                                    <th>Parrocchia frequentata</th>
                                    <th>Scuola frequentata</th>
                                    <th>Casa</th>
                              </tr>
                        </table>
                        <h3>Dati Scheda Medica:</h3>
                        <table id="mytableMedic" class="pagamenti">
                              <tr>
                                    <th>Nome</th>
                                    <th>Tessera Sanitaria</th>
                                    <th>G.Sanguigno</th>
                                    <th>Disturbi</th>
                                    <th>Cure consigliate e in corso</th>
                                    <th>Dieta</th>
                                    <th>Farmaci Analgesici</th>
                                    <th>In caso di febbre</th>
                                    <th>In caso di raffreddore</th>
                                    <th>Allergie</th>
                                    <th>Operazioni</th>
                                    <th>Fratture</th>
                                    <th>Malattie Infettive</th>
                                    <th>Mestruazioni</th>
                                    <th>Note</th>
                              </tr>
                        </table>
                  </div>
            </div>

      
      </div>
      <div class="footer">
            <div>
                  <h1>Capi</h1>
                  <p>Pinco</p>
                  <p>Pallino</p>
            </div>
            <div>
                  <h1>Posto</h1>
                  <p>Cristo Re</p>
                  <p>Mondo</p>
            </div>
            <div>
                  <h1>Social</h1>
                  <p><a href="https://www.instagram.com/meme.pd6/">meme.pd6</a></p>
                  <p>+39 351 514 0746</p>
            </div>
      </div>

<script type="text/javascript">

      // Menu-toggle button

      $(document).ready(function () {
            $(".menu-icon").on("click", function () {
                  $("nav ul").toggleClass("showing");
            })

      });

      // Scrolling Effect

      $(window).on("scroll", function () {
            if ($(window).scrollTop()) {
                  $('nav').addClass('black');
            }

            else {
                  $('nav').removeClass('black');
            }
      })
      function lol(y) {
            y.classList.toggle("change");
      }

</script>
<script  type="text/javascript">
      var profili = <%- JSON.stringify(jsonGhed) %>;
      var route = <%- JSON.stringify(route) %>;
      var medico = <%- JSON.stringify(jsonMedico) %>;
      console.log(profili);
      console.log(route);
      console.log(medico);
      switch (route){
            case "LC":
                  document.getElementById("unità").innerHTML = "Branco";
            break;
            case "EG":
                  document.getElementById("unità").innerHTML = "Reparto";
            break;
            case "NO":
                  document.getElementById("unità").innerHTML = "Noviziato";
            break;
            case "RS":
                  document.getElementById("unità").innerHTML = "Clan";
            break;      
      }
      var lungo = Object.keys(profili).length;
      //console.log(lungo);
      var righe=0;
      for (var i = 0; i < lungo-1; i++) {                                                           
            var table = document.getElementById("mytableIscri");
            var row = table.insertRow(i + 1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);
            var cell6 = row.insertCell(5);
            var cell7 = row.insertCell(6);
            var cell8 = row.insertCell(7);
            var cell9 = row.insertCell(8);
            var cell10 = row.insertCell(9);
            cell1.innerHTML = profili[i].user_name;
            cell2.innerHTML = profili[i].user_email;
            cell3.innerHTML = profili[i].telefono;
            cell4.innerHTML = profili[i].indirizzo;
            cell5.innerHTML = profili[i].luogo_nascita;  
            cell6.innerHTML = profili[i].data_nascita;
            cell7.innerHTML = profili[i].fiscale;
            cell8.innerHTML = profili[i].parrocchia;
            cell9.innerHTML = profili[i].scuola;
            cell10.innerHTML = profili[i].casa.data;                                  
            righe++;
      }
      document.getElementById("righe").innerHTML = "("+ righe + ")";

      var lungo2 = Object.keys(medico).length;
      for (var i = 0; i < lungo2-1; i++) {                                                           
            var table = document.getElementById("mytableMedic");
            var row = table.insertRow(i + 1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);
            var cell6 = row.insertCell(5);
            var cell7 = row.insertCell(6);
            var cell8 = row.insertCell(7);
            var cell9 = row.insertCell(8);
            var cell10 = row.insertCell(9);
            var cell11 = row.insertCell(10);
            var cell12 = row.insertCell(11);
            var cell13 = row.insertCell(12);
            var cell14 = row.insertCell(13);
            var cell15 = row.insertCell(14);
            cell1.innerHTML = profili[i].user_name;
            cell2.innerHTML = medico[i].tessera;
            cell3.innerHTML = medico[i].sanguigno;
            cell4.innerHTML = medico[i].disturbi;
            cell5.innerHTML = medico[i].cure;  
            cell6.innerHTML = medico[i].dieta;
            cell7.innerHTML = medico[i].farmaci;
            cell8.innerHTML = medico[i].febbre;
            cell9.innerHTML = medico[i].raffreddore;
            cell10.innerHTML = medico[i].allergie;
            cell11.innerHTML = medico[i].operazioni;  
            cell12.innerHTML = medico[i].fratture;  
            cell13.innerHTML = medico[i].malattie;  
            cell14.innerHTML = medico[i].mestruazioni.data;  
            cell15.innerHTML = medico[i].note;                                    
      }
</script>
</body>
</html>