<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Padova 6</title>
      <link rel="stylesheet" href="/stylesheets/style-enci.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
      <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
      <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script>  var socket = io();</script>
</head>

<body>
      <nav>
            <div class="menu-icon">
                  <div class="container" onclick="lol(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                  </div>
            </div>

            <div class="menu">
                  <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/Enciclopedia">Enciclopedia</a></li>
                        <li><a href="/Calendario">Calendario</a></li>
                        <li><a href="/foto">Foto</a></li>
                        <li id="destra1" style="float:right"><a href="/login">Login <i
                                          class="fas fa-sign-in-alt"></i></a></li>
                        <li id="destra2" style="float:right"><a href="/register">Register</a></li>
                        <li id="destra-user" style="float:right;display:none"><a href="/User"><i
                                          class="fas fa-user"></i> Profilo</a></li>
                  </ul>

            </div>
      </nav>
      <div class="imgmain parallax">
            <div class="custom-shape-divider-bottom-1636649910">
                  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                        preserveAspectRatio="none">
                        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                              class="shape-fill"></path>
                  </svg>
            </div>
            <h2 class="titolo">IL SAPERE</h2>
      </div>

      <div class="content">
            <h3 class="titolo-primo">IL SAPERE DEL GRUPPO</h3>
            <p style="text-align: center;"><em>le nostre tradizioni, usanze e costumi</em></p>
            <p style="margin:0;padding:10px">
                  Le nostre usanze cambiano spesso e già solo 5 anni fa eravamo un gruppo completamente diverso, anche
                  se alcuni aspetti che contraddistinguono ilnostro gruppo sono rimasti.
                  <b>Questa pagina ha lo scopo di preservare queste usanze</b> per far sì che non vengano dimenticate. Potrebbe
                  essere utile per scegliere quale gioco proporre ad un fuoco, quale
                  bans fare ad attività, rivedere i vari temi dei campi passati o i posti. Si potrebbe andare avanti per
                  ore e sicuramente <b>questa pagina non sarà mai completa.</b> Per questo, chiunque volesse
                  scrivere un trafiletto, mandare una foto o anche solo fare una chiaccherata sui suoi ricordi noi siamo
                  aperti ad ogni tipo di aiuto.
            </p>
      </div>
      <div class="content2">
            <div class="griglia" role="radiogroup">
                  <div class="radio-btns__btn bottone1" role="radio" aria-checked="false" tabindex="-1"
                        aria-label="Select image one">
                        <p class="canzoniere">CANZONIERE</p>
                        <img src="images/note.png"
                              alt="Image description">
                  </div>

                  <div class="radio-btns__btn bottone2" role="radio" aria-checked="false" tabindex="-1"
                        aria-label="Select image two">
                        <p class="canzoniere">BANS</p>
                        <img src="images/bans.jpg"
                              alt="Image description">
                  </div>

                  <div class="radio-btns__btn bottone3" role="radio" aria-checked="false" tabindex="-1"
                        aria-label="Select image three">
                        <p class="canzoniere">FUOCO</p>
                        <img src="images/fuoco.jpg"
                              alt="Image description">
                  </div>

                  <div class="radio-btns__btn bottone4" role="radio" aria-checked="false" tabindex="-1"
                        aria-label="Select image one">
                        <p class="canzoniere">CUCINA</p>
                        <img src="images/cucina.jpg"
                              alt="Image description">
                  </div>
            </div>
            <div class="contenuti cont1">
                  <p style="margin:0">In questa sezione si possono scaricare i canzonieri delle tre branche:</p>
                  <b>Canzoniere <span style="color:orange">LC</span>:</b><br>
                  <a href="/images/Canzoniere_LC.pdf" download="Canzoniere_LC"><button><i
                                    class="fa fa-download"></i>scarica</button></a><br>
                  <b>Canzoniere <span style="color:green">EG</span>:</b><br>
                  <a href="/images/Canzoniere_EG.pdf" download="Canzoniere_EG"><button><i
                                    class="fa fa-download"></i>scarica</button></a><br>
                  <b>Canzoniere <span style="color:red">RS</span>:</b><br>
                  <a href="/images/Canzoniere_RS.pdf" download="Canzoniere_RS"><button><i
                                    class="fa fa-download"></i>scarica</button></a><br>
            </div>
            <div class="contenuti cont2" style="display: none;">
                  <p>Ancora da finire</p>
                        <ul>
                              <li>Banana</li>
                              <li>Popcorn</li>
                              <li>Watchaa</li>
                              
                        </ul>
            </div>
            <div class="contenuti cont3" style="display: none;">
                  <p style="margin:0">Vari giochi da poter fare al fuoco:</p>
                  <hr>
                  <b>MALI’ MALO’ </b><br>
                  <u>Occorrente:</u><br>
                  <ul>
                        <li>2 buste</li>
                        <li>bigliettini con scritte parti del corpo (una copia per ogni
                              busta)</li>
                  </ul>
                  <u>Introduzione al gioco</u> (facoltativa → si canta una canzoncina
                  muovendo le dita delle mani:<br>
                  <ol>
                        <li>muovendo l’indice destro in posizione verticale ed
                              orizzontale si canta: “Io voglio giocare, voglio giocare, a
                              Malì malò”</li>
                        <li>muovendo l’indice sinistro in posizione verticale ed
                              orizzontale si canta: “Tu vuoi giocare, vuoi giocare, a Malì
                              malò”</li>
                        <li>muovendo insieme indice e medio della mano destra in
                              posizione verticale ed orizzontale si canta: “noi vogliamo
                              giocare, vogliamo giocare, a Malì malò”</li>
                        <li>muovendo insieme indice e medio della mano sinistra in
                              posizione verticale ed orizzontale si canta: “voi volete
                              giocare, volete giocare, a Malì malò”</li>
                        <li>muovendo insieme indice e medio di entrambe le mani
                              contemporaneamente in posizione verticale ed
                              orizzontale si canta: “tutti vogliamo giocare, vogliamo
                              giocare, a Mal’ malò”.</li>
                  </ol>
                  <u>Gioco</u> → si formano delle coppie di persone. si estrae un
                  bigliettino da ciascuna busta. questo biglietto deve essere tenuto
                  (senza farlo cadere) tra le due parti del corpo (estratte) delle
                  persone che formano la coppia. vince chi riesce a tenere più
                  bigliettini senza fare cadere gli altri

                  <hr>
                  <b>LA GALLINA DEL FATTORE HA FATTO L’UOVO </b><br>
                  Si creano due file di persone di ugual numero. Il primo dice al
                  secondo:<br>
                  1°: <i>La gallina del fattore ha fatto l’uovo</i><br>
                  2°: <i>cosa??</i><br>
                  1°: <i>L’uovo!</i><br>
                  → successivamente il secondo e il terzo:<br>
                  2°: <i>La gallina del fattore ha fatto l’uovo</i><br>
                  3°: <i>cosa??</i><br>
                  2°: <i>cosa?? (girandosi verso il 1°)</i><br>
                  1°: <i>L’uovo! (Il 1° al 2°)</i><br>
                  2°: <i>L’uovo! (Il 2° al 3°)</i><br>
                  → successivamente il terzo al quarto:<br>
                  3°: <i>La gallina del fattore ha fatto l’uovo</i><br>
                  4°: <i>cosa??</i><br>
                  3°: <i>cosa?? (girandosi verso il 2°)</i><br>
                  2°: <i>cosa?? (girandosi verso il 1°)</i><br>
                  1°: <i>L’uovo! (Il 1° al 2°)</i><br>
                  2°: <i>L’uovo! (Il 2° al 3°)</i><br>
                  3°: <i>L’uovo! (Il 3° al 4°)</i><br>
                  e così via… quando qualcuno sbaglia si ricominci da capo! Vince
                  la fila che finisce per prima.<br>
                  <hr>
                  <b>MARZIANITO</b><br>
                  In cerchio, ad ognuno viene assegnato un numero.
                  chi lancia il gioco dice: “Marzianito numero N chiama Marzianito
                  numero M” (dove N e M sono due dei numeri assegnati alle
                  persone).
                  A questo punto:
                  la persona cui corrisponde il numero M alza entrambe le mani
                  la persona alla sua sinistra alzerà la mano destra
                  la persona alla sua destra alzerà la mano sinistra
                  Chi sbaglia riceve degli schiaffetti sulla coscia da chi gli sta a
                  fianco.
                  A questo punto la persona cui corrisponde il numero M
                  continuerà il gioco: “Marzianito numero M chiama Marzianito
                  numero P”
                  <hr>
                  <b>PECORE NEL CANCELLO</b><br>
                  Le persone si dividono in due: pastori e pecore.
                  I pastori formano un cerchio stando in piedi. Le pecore si
                  mettono a quattro zampe tra le gambe dei pastori. Uno solo dei
                  pastori deve rimanere senza pecora.
                  Questo pastore fa l’occhiolino alla pecora di un altro pastore. La
                  pecora “ammiccata” dovrà cercare di raggiungere il pastore che
                  l’ha chiamata mentre il suo “padrone”, mantenendo i piedi saldi a
                  terra, dovrà cercare di trattenerla e impedirglielo.
                  <hr>
                  <b>STORIA</b><br>
                  <u>Occorrente:</u><br>
                  <ul>
                        <li>foglio</li>
                        <li>penne</li>
                  </ul>
                  Si stabiliscono delle domande necessarie alla scrittura di una
                  storiella. ad esempio: Chi? Dove? Quando? Come? Con Cosa?
                  Cosa dice?...ecc.
                  queste domande si scrivono su un foglietto.
                  Si creano delle file di persone. la prima persona deve rispondere
                  alla prima domanda e piegare il bigliettino in modo da coprire
                  quello ch ha scritto, e lo passa al secondo. Il secondo risponde
                  alla seconda domanda, la copre e lo passa al terzo. e così via...
                  <hr>
                  <b>IL MAESTRO</b><br>
                  Una persona viene allontanata dal cerchio. Tra le persone
                  rimaste si sceglie una persona che sarà il maestro. Andando a
                  tempo tutti dovranno imitare le mosse fatte dal maestro. La
                  persona allontanata, tornando, dovrà capire (in 3 tentativi) chi è
                  il maestro.
                  <hr>
                  <b>TI PIACE IL TUO VICINO</b> <br>
                  Una persona va in mezzo al cerchio. il suo obiettivo è quello di
                  fare in modo che le persone si spostino dalla loro posizione per
                  occuparla al loro posto. Questa persona si avvicina a qualcuno
                  che compone il cerchio e chiede: Ti piace il tuo vicino?”
                  Questo potrà rispondere in due modi:<br>
                  <u>SI:</u> la persona alla sua destra e quella alla sua sinistra si
                  scambiano di posto.<br>
                  <u>NO:</u> Allora la persona al centro chiederà di nuovo: “Allora chi ti
                  piace?”<br>
                  A questo punto questo gli dovrà rispondere dicendo una
                  caratteristica, come ad esempio le persone con gli occhiali, le
                  persone con gli occhi azzurri ecc..
                  A questo punto tutte le persone con quella caratteristica si
                  dovranno cambiare di posto.
                  variante: Quando una persona ha un posto libero alla sua destra
                  questo può scalare, portando di conseguenza tutte le persone
                  che compongono il cerchio a scalare.

            </div>
            <div class="contenuti cont4" style="display: none;">
                  <p>Ancora da finire, scrivici tu cosa inserire qui!</p>
            </div>

            <div class="griglia" role="radiogroup">
                  <div class="radio-btns__btn bottone5" role="radio" aria-checked="false" tabindex="-1"
                        aria-label="Select image one">
                        <p class="canzoniere">ALBO CAMPI</p>
                        <img src="images/albo.jpg"
                              alt="Image description">
                  </div>

                  <div class="radio-btns__btn bottone6" role="radio" aria-checked="false" tabindex="-1"
                        aria-label="Select image two">
                        <p class="canzoniere">NODI</p>
                        <img src="images/nodi.jpg"
                              alt="Image description">
                  </div>

                  <div class="radio-btns__btn bottone7" role="radio" aria-checked="false" tabindex="-1"
                        aria-label="Select image three">
                        <p class="canzoniere">COSTRUZIONI</p>
                        <img src="images/costru.jpg"
                              alt="Image description">
                  </div>

                  <div class="radio-btns__btn bottone8" role="radio" aria-checked="false" tabindex="-1"
                        aria-label="Select image one">
                        <p class="canzoniere">GIOCHI</p>
                        <img src="images/scouball.webp"
                              alt="Image description">
                  </div>
            </div>
            <div class="contenuti cont5">
                  <p>Ancora da finire, scrivici tu cosa inserire qui!</p>
            </div>
            <div class="contenuti cont6" style="display: none;">
                  <p>Ancora da finire, scrivici tu cosa inserire qui!</p>
            </div>
            <div class="contenuti cont7" style="display: none;">
                  <p>Ancora da finire, scrivici tu cosa inserire qui!</p>
            </div>
            <div class="contenuti cont8" style="display: none;">
                  <p>Ancora da finire, scrivici tu cosa inserire qui!</p>
            </div>
      </div>
      <div class="content3">
            <details>
                  <summary>
                        <div class="radio-btns__btn bottone1" role="radio" aria-checked="false" tabindex="-1"
                              aria-label="Select image one">
                              <p class="canzoniere">CANZONIERE</p>
                              <img src="images/note.png"
                                    alt="Image description">
                        </div>
                  </summary>
                  <div>
                        <p style="margin:0">In questa sezione si possono scaricare i canzonieri delle tre branche:</p>
                        <b>Canzoniere <span style="color:orange">LC</span>:</b><br>
                        <a href="/images/Canzoniere_LC.pdf" download="Canzoniere_LC"><button><i
                                          class="fa fa-download"></i>scarica</button></a><br>
                        <b>Canzoniere <span style="color:green">EG</span>:</b><br>
                        <a href="/images/Canzoniere_EG.pdf" download="Canzoniere_EG"><button><i
                                          class="fa fa-download"></i>scarica</button></a><br>
                        <b>Canzoniere <span style="color:red">RS</span>:</b><br>
                        <a href="/images/Canzoniere_RS.pdf" download="Canzoniere_RS"><button><i
                                          class="fa fa-download"></i>scarica</button></a><br>
                  </div>
            </details>
            <details>
                  <summary>
                        <div class="radio-btns__btn bottone2" role="radio" aria-checked="false" tabindex="-1"
                              aria-label="Select image two">
                              <p class="canzoniere">BANS</p>
                              <img src="images/bans.jpg"
                                    alt="Image description">
                        </div>
                  </summary>
                  <div>
                        <p>Ancora da finire</p>
                        <ul>
                              <li>Banana</li>
                              <li>Popcorn</li>
                              <li>Watchaa</li>
                              
                        </ul>
                  </div>
            </details>
            <details>
                  <summary>
                        <div class="radio-btns__btn bottone2" role="radio" aria-checked="false" tabindex="-1"
                              aria-label="Select image two">
                              <p class="canzoniere">FUOCO</p>
                              <img src="images/fuoco.jpg"
                                    alt="Image description">
                        </div>
                  </summary>
                  <div>
                        <p style="margin:0">Vari giochi da poter fare al fuoco:</p>
                  <hr>
                  <b>MALI’ MALO’ </b><br>
                  <u>Occorrente:</u><br>
                  <ul>
                        <li>2 buste</li>
                        <li>bigliettini con scritte parti del corpo (una copia per ogni
                              busta)</li>
                  </ul>
                  <u>Introduzione al gioco</u> (facoltativa → si canta una canzoncina
                  muovendo le dita delle mani:<br>
                  <ol>
                        <li>muovendo l’indice destro in posizione verticale ed
                              orizzontale si canta: “Io voglio giocare, voglio giocare, a
                              Malì malò”</li>
                        <li>muovendo l’indice sinistro in posizione verticale ed
                              orizzontale si canta: “Tu vuoi giocare, vuoi giocare, a Malì
                              malò”</li>
                        <li>muovendo insieme indice e medio della mano destra in
                              posizione verticale ed orizzontale si canta: “noi vogliamo
                              giocare, vogliamo giocare, a Malì malò”</li>
                        <li>muovendo insieme indice e medio della mano sinistra in
                              posizione verticale ed orizzontale si canta: “voi volete
                              giocare, volete giocare, a Malì malò”</li>
                        <li>muovendo insieme indice e medio di entrambe le mani
                              contemporaneamente in posizione verticale ed
                              orizzontale si canta: “tutti vogliamo giocare, vogliamo
                              giocare, a Mal’ malò”.</li>
                  </ol>
                  <u>Gioco</u> → si formano delle coppie di persone. si estrae un
                  bigliettino da ciascuna busta. questo biglietto deve essere tenuto
                  (senza farlo cadere) tra le due parti del corpo (estratte) delle
                  persone che formano la coppia. vince chi riesce a tenere più
                  bigliettini senza fare cadere gli altri

                  <hr>
                  <b>LA GALLINA DEL FATTORE HA FATTO L’UOVO </b><br>
                  Si creano due file di persone di ugual numero. Il primo dice al
                  secondo:<br>
                  1°: <i>La gallina del fattore ha fatto l’uovo</i><br>
                  2°: <i>cosa??</i><br>
                  1°: <i>L’uovo!</i><br>
                  → successivamente il secondo e il terzo:<br>
                  2°: <i>La gallina del fattore ha fatto l’uovo</i><br>
                  3°: <i>cosa??</i><br>
                  2°: <i>cosa?? (girandosi verso il 1°)</i><br>
                  1°: <i>L’uovo! (Il 1° al 2°)</i><br>
                  2°: <i>L’uovo! (Il 2° al 3°)</i><br>
                  → successivamente il terzo al quarto:<br>
                  3°: <i>La gallina del fattore ha fatto l’uovo</i><br>
                  4°: <i>cosa??</i><br>
                  3°: <i>cosa?? (girandosi verso il 2°)</i><br>
                  2°: <i>cosa?? (girandosi verso il 1°)</i><br>
                  1°: <i>L’uovo! (Il 1° al 2°)</i><br>
                  2°: <i>L’uovo! (Il 2° al 3°)</i><br>
                  3°: <i>L’uovo! (Il 3° al 4°)</i><br>
                  e così via… quando qualcuno sbaglia si ricominci da capo! Vince
                  la fila che finisce per prima.<br>
                  <hr>
                  <b>MARZIANITO</b><br>
                  In cerchio, ad ognuno viene assegnato un numero.
                  chi lancia il gioco dice: “Marzianito numero N chiama Marzianito
                  numero M” (dove N e M sono due dei numeri assegnati alle
                  persone).
                  A questo punto:
                  la persona cui corrisponde il numero M alza entrambe le mani
                  la persona alla sua sinistra alzerà la mano destra
                  la persona alla sua destra alzerà la mano sinistra
                  Chi sbaglia riceve degli schiaffetti sulla coscia da chi gli sta a
                  fianco.
                  A questo punto la persona cui corrisponde il numero M
                  continuerà il gioco: “Marzianito numero M chiama Marzianito
                  numero P”
                  <hr>
                  <b>PECORE NEL CANCELLO</b><br>
                  Le persone si dividono in due: pastori e pecore.
                  I pastori formano un cerchio stando in piedi. Le pecore si
                  mettono a quattro zampe tra le gambe dei pastori. Uno solo dei
                  pastori deve rimanere senza pecora.
                  Questo pastore fa l’occhiolino alla pecora di un altro pastore. La
                  pecora “ammiccata” dovrà cercare di raggiungere il pastore che
                  l’ha chiamata mentre il suo “padrone”, mantenendo i piedi saldi a
                  terra, dovrà cercare di trattenerla e impedirglielo.
                  <hr>
                  <b>STORIA</b><br>
                  <u>Occorrente:</u><br>
                  <ul>
                        <li>foglio</li>
                        <li>penne</li>
                  </ul>
                  Si stabiliscono delle domande necessarie alla scrittura di una
                  storiella. ad esempio: Chi? Dove? Quando? Come? Con Cosa?
                  Cosa dice?...ecc.
                  queste domande si scrivono su un foglietto.
                  Si creano delle file di persone. la prima persona deve rispondere
                  alla prima domanda e piegare il bigliettino in modo da coprire
                  quello ch ha scritto, e lo passa al secondo. Il secondo risponde
                  alla seconda domanda, la copre e lo passa al terzo. e così via...
                  <hr>
                  <b>IL MAESTRO</b><br>
                  Una persona viene allontanata dal cerchio. Tra le persone
                  rimaste si sceglie una persona che sarà il maestro. Andando a
                  tempo tutti dovranno imitare le mosse fatte dal maestro. La
                  persona allontanata, tornando, dovrà capire (in 3 tentativi) chi è
                  il maestro.
                  <hr>
                  <b>TI PIACE IL TUO VICINO</b> <br>
                  Una persona va in mezzo al cerchio. il suo obiettivo è quello di
                  fare in modo che le persone si spostino dalla loro posizione per
                  occuparla al loro posto. Questa persona si avvicina a qualcuno
                  che compone il cerchio e chiede: Ti piace il tuo vicino?”
                  Questo potrà rispondere in due modi:<br>
                  <u>SI:</u> la persona alla sua destra e quella alla sua sinistra si
                  scambiano di posto.<br>
                  <u>NO:</u> Allora la persona al centro chiederà di nuovo: “Allora chi ti
                  piace?”<br>
                  A questo punto questo gli dovrà rispondere dicendo una
                  caratteristica, come ad esempio le persone con gli occhiali, le
                  persone con gli occhi azzurri ecc..
                  A questo punto tutte le persone con quella caratteristica si
                  dovranno cambiare di posto.
                  variante: Quando una persona ha un posto libero alla sua destra
                  questo può scalare, portando di conseguenza tutte le persone
                  che compongono il cerchio a scalare.
                  </div>
            </details>
            <details>
                  <summary>
                        <div class="radio-btns__btn bottone2" role="radio" aria-checked="false" tabindex="-1"
                              aria-label="Select image two">
                              <p class="canzoniere">CUCINA</p>
                              <img src="images/cucina.jpg"
                                    alt="Image description">
                        </div>
                  </summary>
                  <div>
                        <p>Ancora da finire, scrivici tu cosa inserire qui!</p>
                  </div>
            </details>
            <details>
                  <summary>
                        <div class="radio-btns__btn bottone2" role="radio" aria-checked="false" tabindex="-1"
                              aria-label="Select image two">
                              <p class="canzoniere">ALBO CAMPI</p>
                              <img src="images/albo.jpg"
                                    alt="Image description">
                        </div>
                  </summary>
                  <div>
                        <p>Ancora da finire, scrivici tu cosa inserire qui!</p>
                  </div>
            </details>
            <details>
                  <summary>
                        <div class="radio-btns__btn bottone2" role="radio" aria-checked="false" tabindex="-1"
                              aria-label="Select image two">
                              <p class="canzoniere">NODI</p>
                              <img src="images/nodi.jpg"
                                    alt="Image description">
                        </div>
                  </summary>
                  <div>
                        <p>Ancora da finire, scrivici tu cosa inserire qui!</p>
                  </div>
            </details>
            <details>
                  <summary>
                        <div class="radio-btns__btn bottone2" role="radio" aria-checked="false" tabindex="-1"
                              aria-label="Select image two">
                              <p class="canzoniere">COSTRUZIONI</p>
                              <img src="images/costru.jpg"
                                    alt="Image description">
                        </div>
                  </summary>
                  <div>
                        <p>Ancora da finire, scrivici tu cosa inserire qui!</p>
                  </div>
            </details>
            <details>
                  <summary>
                        <div class="radio-btns__btn bottone2" role="radio" aria-checked="false" tabindex="-1"
                              aria-label="Select image two">
                              <p class="canzoniere">GIOCHI</p>
                              <img src="images/scouball.webp"
                                    alt="Image description">
                        </div>
                  </summary>
                  <div>
                        <p>Ancora da finire, scrivici tu cosa inserire qui!</p>
                  </div>
            </details>


      </div>

      <div class="footer">
            <div>
                  <h1>Capi</h1>
                  <p>Pinco</p>
                  <p>Pallino</p>
            </div>
            <div>
                  <h1>Posto</h1>
                  <p>Cristo Re</p>
                  <p>Mondo</p>
            </div>
            <div>
                  <h1>Social</h1>
                  <p><a href="https://www.instagram.com/meme.pd6/">meme.pd6</a></p>
                  <p>+39 351 514 0746</p>
            </div>
      </div>
      <% if (message.length>0) { %>
            <script>
                  var message =<%= message %>;
                  console.log(message);
                  if (message == true) {
                        document.getElementById("destra1").style.display = "none";
                        document.getElementById("destra2").style.display = "none";
                        document.getElementById("destra-user").style.display = "block";
                  }
            </script>
            <% } %>
                  <script type="text/javascript">

                        // Menu-toggle button

                        $(document).ready(function () {
                              $(".menu-icon").on("click", function () {
                                    $("nav ul").toggleClass("showing");
                              })

                        });

                        $(document).ready(function () {
                              $(".bottone1").on("click", function () {
                                    $(".cont1").show();
                                    $(".cont2").hide();
                                    $(".cont3").hide();
                                    $(".cont4").hide();

                              })

                        });
                        $(document).ready(function () {
                              $(".bottone2").on("click", function () {
                                    $(".cont1").hide();
                                    $(".cont2").show();
                                    $(".cont3").hide();
                                    $(".cont4").hide();

                              })

                        });
                        $(document).ready(function () {
                              $(".bottone3").on("click", function () {
                                    $(".cont1").hide();
                                    $(".cont2").hide();
                                    $(".cont3").show();
                                    $(".cont4").hide();

                              })

                        });
                        $(document).ready(function () {
                              $(".bottone4").on("click", function () {
                                    $(".cont1").hide();
                                    $(".cont2").hide();
                                    $(".cont3").hide();
                                    $(".cont4").show();

                              })

                        });

                        $(document).ready(function () {
                              $(".bottone5").on("click", function () {
                                    $(".cont5").show();
                                    $(".cont6").hide();
                                    $(".cont7").hide();
                                    $(".cont8").hide();

                              })

                        });
                        $(document).ready(function () {
                              $(".bottone6").on("click", function () {
                                    $(".cont5").hide();
                                    $(".cont6").show();
                                    $(".cont7").hide();
                                    $(".cont8").hide();

                              })

                        });
                        $(document).ready(function () {
                              $(".bottone7").on("click", function () {
                                    $(".cont5").hide();
                                    $(".cont6").hide();
                                    $(".cont7").show();
                                    $(".cont8").hide();

                              })

                        });
                        $(document).ready(function () {
                              $(".bottone8").on("click", function () {
                                    $(".cont5").hide();
                                    $(".cont6").hide();
                                    $(".cont7").hide();
                                    $(".cont8").show();

                              })

                        });

                        // Scrolling Effect

                        $(window).on("scroll", function () {
                              if ($(window).scrollTop()) {
                                    $('nav').addClass('black');
                              }

                              else {
                                    $('nav').removeClass('black');
                              }
                        })
                        function lol(y) {
                              y.classList.toggle("change");
                        }

                  </script>
</body>

</html>