<div class="footer">
    <div>
          <h1>Staff</h1>
          <p>Andrea</p>
          <p>Guido</p>
          <p>Luciana</p>
    </div>
    <div>
          <h1>Recapiti</h1>
          <p>Via M. Ponchia, 1 e 1b</p>
          <p>35124 Padova (zona Salboro)</p>
          <p>infoBK@blukippe.com</p>
    </div>
    <div>
          <h1>Social</h1>
          <p><a href="https://www.instagram.com/bluekippe/">Instagram</a></p>
          <p><a href="https://www.facebook.com/groups/356550404727/">Facebook</a></p>                        
          <p>+39 339 3348195</p>
    </div>
</div>