<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Padova 6</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
      <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
      <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>

<body>
      <nav>
            <div class="menu-icon">
                  <div class="container" onclick="lol(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                  </div>
            </div>

            <div class="menu">
                  <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/Enciclopedia">Enciclopedia</a></li>
                        <li><a href="/Calendario">Calendario</a></li>
                        <li><a href="/foto">Foto</a></li>
                        <li id="destra1" style="float:right"><a href="/login">Login <i
                                          class="fas fa-sign-in-alt"></i></a></li>
                        <li id="destra2" style="float:right"><a href="/register">Register</a></li>
                        <li id="destra-user" style="float:right;display:none"><a href="/User"><i
                                          class="fas fa-user"></i> Profilo</a></li>
                  </ul>

            </div>
      </nav>
      <div class="parallax imgmain ">
            <div class="custom-shape-divider-bottom-1636649910">
                  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                        preserveAspectRatio="none">
                        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                              class="shape-fill"></path>
                  </svg>
            </div>
            <h2 class="titolo">PADOVA 6</h2>
      </div>

      <div class="content">
            <h3 class="titolo-primo">CHI SIAMO?</h3>
            <p style="text-align: center;"><em>un gruppo scout</em></p>
            <p style="margin:0;padding:10px">
                  Benvenuti nel Gruppo Scout Padova 6. Siamo un gruppo di ragazzi e ragazze che condividono una passione
                  comune per l'avventura, l'amicizia e la crescita personale.
                  Insieme, esploriamo il mondo che ci circonda, impariamo nuove abilità e ci divertiamo nel farlo.
                  Affrontiamo sfide e ci immergiamo nella natura, cercando costantemente di mettere il massimo impegno
                  in tutto ciò che facciamo.
                  Come una famiglia scout, ci sosteniamo a vicenda e ci impegniamo a essere sempre disponibili per chi
                  ha bisogno. Ogni passo del nostro cammino è umile, guidato dalla volontà di imparare, condividere e
                  crescere insieme.
                  Non ci vantiamo di grandezze, ma ci impegniamo a vivere con sincerità e rispetto, sia tra di noi che
                  verso il mondo che ci circonda. La nostra avventura è un costante viaggio di scoperte, ognuna delle
                  quali ci insegna qualcosa di nuovo e prezioso.
            </p>
            <div class="flex-container">
                  <div class="flex-item-left">
                        <img src="images/PADOVA6_Colore.svg" style="width:100%;max-width:250px;">
                  </div>
                  <div class="flex-item-right scompari" style="text-align:left;font-size:15px;">
                        <b>Il nostro Logo</b>
                        <p style="margin:0;vertical-align:middle;">
                              Il fazzolettone giallo e blu del Gruppo Scout Padova 6 rappresenta una combinazione di
                              valori e tradizioni che guidano il nostro cammino. Il giallo simboleggia l'entusiasmo, la
                              gioia e l'amicizia che condividiamo mentre esploriamo nuovi orizzonti. Il blu rappresenta
                              l'unità, la serenità e la lealtà che ci legano come una famiglia scout. Questi colori
                              riflettono il nostro impegno nell'incoraggiare l'autenticità, la crescita personale e il
                              servizio alla comunità, mentre ci avventuriamo insieme in un viaggio di scoperta e
                              apprendimento.
                        </p>
                  </div>
            </div>


      </div>
      <div class="flex-container"
            style="background-color: rgb(29, 29, 29);color: #fff!important;padding:15px 0px; line-height: 1.5;">
            <div class="flex-item-left"><span class="numero">150+</span><br>Ragazzi</div>
            <div class="flex-item-center"><span class="numero">27+</span><br>Capi</div>
            <div class="flex-item-right"><span class="numero">134</span><br>Gente sul sito</div>
            <div class="flex-item-right"><span class="numero">100+</span><br>Voglia di fare</div>
      </div>
      <div class="imgmain2 parallax">
            <h2 class="titolo">STORIA</h2>
      </div>

      <div class="content">
            <h3 class="titolo-primo">LA STORIA DEL NOSTRO GRUPPO</h3>
            <p style="text-align: center;"><em>dal 1951 ad oggi</em></p>
            <p style="margin:0;padding:10px">
                  Il Gruppo Scout Padova 6 è nato nel 1951 e ha una storia semplice ma significativa. Nel corso degli
                  anni, abbiamo cercato di offrire ai giovani un luogo in cui potessero crescere e imparare attraverso
                  esperienze scout. Le nostre attività sono state varie, dalle avventure all'aperto come campeggi ed
                  escursioni, ai piccoli progetti di volontariato nella nostra comunità.
                  Abbiamo cercato di trasmettere ai ragazzi abilità pratiche, senso di responsabilità e rispetto per la
                  natura. Inizialmente il nostro gruppo nasce come il "Padova 2 di San Francesco" con il fazzolettone completamente blu, 
                  successivamente con l'apertura del reparto per differenziarci da un reparto di Padova con il fazzolettone simile vengono aggiunte 
                  delle strisce gialle. A Cristo Re però il nostro gruppo ci arriva successivamente, nel 1951 con la fusione del Padova 2 con il Padova 9. Con il tempo 
                  le unità del Padova 2 diventarono sempre più autonome, fino a staccarsi dal Padova 9 per fondare finalmente il Padova 6.
            </p>

            <div class="flex-container">
                  <div class="flex-item-right scompari" style="text-align:left;font-size:15px;">
                        <p style="margin:0;vertical-align:middle;">
                              Il logo per il settantesimo anniversario del Gruppo Scout Padova 6 è un'umile celebrazione
                              della nostra storia. Raffigura una semplice strada che inizia nel 1951, l'anno della
                              nostra fondazione, e prosegue fino al 2021. Accanto alla strada c'è un "70" con un
                              cappello scout, che simboleggia il nostro lungo percorso e la crescita attraverso gli
                              anni. È un ricordo modesto ma significativo del cammino che abbiamo intrapreso insieme.
                        </p>
                  </div>
                  <div class="flex-item-left">
                        <img src="images/maglietta.svg" style="width:100%;max-width:250px;">
                  </div>
            </div>
      </div>
      <div class="imgmain3 parallax">
            <h2 class="titolo">CONTATTI</h2>
      </div>
      <div class="content">
            <h3 class="titolo-primo">DOVE CI PUOI TROVARE</h3>
            <p style="text-align: center;"><em>la nostra sede scout</em></p>
            <div class="flex-container inverso">
                  <div class="flex-item-right" style="flex:40% !important;">
                        <video class="chiesa" autoplay muted loop defer>
                              <source src="images/chiesa.mp4" type="video/mp4" />
                              Your browser does not support the video element.
                        </video>
                  </div>
                  <div class="flex-item-left" style="flex:10% !important;text-align: left;">
                        <b>Ecco dove siamo</b><br>
                        <i class="fa fa-church"></i>Parrocchia di Cristo Re<br>
                        <i class="fa fa-map-marker"></i> Padova, PD<br>
                        <i class="fa fa-phone"></i> Phone: +39 351 514 0746<br>
                        <i class="fa fa-envelope"></i> Email: agesci.pd6@gmail.com<br>
                  </div>
            </div>

            <div class="flex-container inverso">

                  <div class="flex-item-left" style="text-align: left;flex:40% !important; width: 100%;">
                        <details>
                              <summary>Perché fare un sito?</summary>
                              <div>
                                    <ul class="motivi">
                                          <li>Aggiornarvi per i <b>bivacchi</b> e uscite</li>
                                          <li>Guardare le <b>foto</b> degli ultimi campi scout</li>
                                          <li>Consultare il <b>calendario</b> delle attività</li>
                                          <li>Caricare i <b>documenti</b> e le <b>schede</b> varie</li>
                                          <li>Prendere spunto per un'attività o un gioco</li>
                                    </ul>
                              </div>
                        </details>
                        <details>
                              <summary>A chi posso chiedere se qualcosa non funziona?</summary>
                              <div>
                                    <p>Nella strana eventualità che qualcosa funzioni diversamente da come era stata pensata basta scrivere una mail o farlo sapere a qualsiasi capo. Provvederemo a sistemarla appena possibile.</p>
                              </div>
                        </details>
                        </details>
                        <details>
                              <summary>Come posso iscrivere/preiscrivere mio figlio/a?</summary>
                              <div>
                                    <p>
                                          Ci fa molto piacere ricevere nuove pre-iscrizioni! Per poterne fare una
                                          bisogna scrivere una mail all'indirizzo e-mail <b>agesci.pd6@gmail.com</b>,
                                          contenenti i seguenti dati:
                                    </p>
                                    <ul class="motivi">
                                          <li>nome cognome</li>
                                          <li>data di nascita</li>
                                          <li>classe frequentata nell'anno scolastico 2022-2023</li>
                                          <li>parrocchia frequentata (catechismo)</li>
                                          <li>indirizzo di casa / residenza</li>
                                          <li>telefono fisso di casa (specificare se non presente)</li>
                                          <li>telefono cellulare di un genitore</li>
                                          <li>indirizzo e-mail di un genitore</li>
                                    </ul>
                              </div>
                        </details>
                        </details>
                        <details>
                              <summary>Cos'è la promessa scout?</summary>
                              <div>
                                    <p>La promessa è il rito più importante di tutti, si chiede ad ogni suo partecipante
                                          di seguire i principi che fondano lo scoutismo. Recita:<br>
                                          "Con l'aiuto di Dio prometto sul mio onore di fare del mio meglio:<br>
                                          per compiere il mio dovere verso Dio e verso il mio Paese;<br>
                                          per aiutare gli altri in ogni circostanza;<br>
                                          per osservare la Legge Scout."</p>
                              </div>
                        </details>
                        <details>
                              <summary>Dove posso vedere le foto dell'ultimo campo?</summary>
                              <div>
                                    <p>È necessario prima fare il login per poter accedere in modo sicuro alle foto.</p>
                              </div>
                        </details>
                  </div>
                  <div class="flex-item-right" style="flex:10% !important;text-align: left;"><span
                              class="numero">FAQ</span><br></div>
            </div>
      </div>

      <div class="footer">
            <div>
                  <h1>Capi Gruppo</h1>
                  <p>Pinco</p>
                  <p>Pallino</p>
            </div>
            <div>
                  <h1>Posto</h1>
                  <p>Cristo Re</p>
                  <p>Mondo</p>
            </div>
            <div>
                  <h1>Social</h1>
                  <p><a href="https://www.instagram.com/meme.pd6/">meme.pd6</a></p>
                  <p>+39 351 514 0746</p>
            </div>
      </div>

      <% if (message.length>0) { %>
            <script>
                  var message = <%= message %> ;
                  console.log(message);
                  if (message == true) {
                        document.getElementById("destra1").style.display = "none";
                        document.getElementById("destra2").style.display = "none";
                        document.getElementById("destra-user").style.display = "block";
                  }
            </script>
            <% } %>

                  <script type="text/javascript">

                        // Menu-toggle button

                        $(document).ready(function () {
                              $(".menu-icon").on("click", function () {
                                    $("nav ul").toggleClass("showing");
                              })

                        });

                        // Scrolling Effect

                        $(window).on("scroll", function () {
                              if ($(window).scrollTop()) {
                                    $('nav').addClass('black');
                              }

                              else {
                                    $('nav').removeClass('black');
                              }
                        })
                        function lol(y) {
                              y.classList.toggle("change");
                        }

                  </script>
</body>
</html>