<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Padova 6</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
      <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
      <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3604002694118031"crossorigin="anonymous"></script>
</head>

<body >
      <nav>

            <div class="menu-icon">
                  <div class="container" onclick="lol(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                  </div>
            </div>



            <div class="menu">
                  <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/Enciclopedia">Enciclopedia</a></li>
                        <li><a href="/Chi-siamo">Calendario</a></li>
                        <li><a href="/Chat">Chat</a></li>
                        <li id="destra1" style="float:right"><a href="/login">Login <i
                                          class="fas fa-sign-in-alt"></i></a></li>
                        <li id="destra2" style="float:right"><a href="/register">Register</a></li>
                        <li id="destra-user" style="float:right;display:none"><a href="/User"><i class="fas fa-user"></i> Profilo</a></li>
                  </ul>

            </div>
      </nav>
      <div class="imgmain">
            <div class="custom-shape-divider-bottom-1636649910">
                  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                        preserveAspectRatio="none">
                        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                              class="shape-fill"></path>
                  </svg>
                  <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f1f1f1" fill-opacity="1" d="M0,224L80,213.3C160,203,320,181,480,192C640,203,800,245,960,256C1120,267,1280,245,1360,234.7L1440,224L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
                  -->
            </div>
      </div>
      <h2 class="titolo">PADOVA 6</h2>


      <div class="content">
            <div class="flex-container" >
                  <div class="flex-item-left"><img src="images/PADOVA6_Colore.png"style="width:100%;max-width:250px;"></div>
                  <div class="flex-item-right"><h1 class="titolo-primo">Chi siamo?</h1>
                        <ul class="motivi">
                              <li>aggiornarvi per i <b>bivacchi</b> e per le regole covid</li>
                              <li>guardare le <b>foto</b> degli ultimi campi scout</li>
                              <li><b>chattare</b> con tutto il gruppo</li>
                              <li>comprare le nostre fantastiche <b>magliette!</b></li>
                        </ul>
                  </div>
            </div>
            
                               
      </div> 
            <div class="flex-container" style="background-color: #616161;color: #fff!important;padding:15px 0px; line-height: 1.5;">
                  <div class="flex-item-left"><span class="numero">150+</span><br>Ragazzi</div>
                  <div class="flex-item-center"><span class="numero">27+</span><br>Capi</div>
                  <div class="flex-item-right"><span class="numero">100+</span><br>Voglia di fare</div>
            </div>
      <div class="content">      
            <div class="flex-container">
                  <div class="flex-item-left"><span class="numero">FAQ</span><br></div>
                  <div class="flex-item-right" style="text-align: left;">
                        <details>
                        <summary>Perché fare un sito?</summary>
                        <div>
                              <ul class="motivi">
                                    <li>aggiornarvi per i <b>bivacchi</b> e per le regole covid</li>
                                    <li>guardare le <b>foto</b> degli ultimi campi scout</li>
                                    <li><b>chattare</b> con tutto il gruppo</li>
                                    <li>comprare le nostre fantastiche <b>magliette!</b></li>
                              </ul>
                        </div>
                        </details>
                        <details>
                        <summary>A chi posso chiedere se qualcosa non funziona?</summary>
                        <div>
                        <p>A me :)</p>
                        </div>
                        </details>
                      </details>
                      <details>
                        <summary>Come posso iscrivere/preiscrivere mio figlio/a?</summary>
                        <div>
                        <p>
                        Ci fa molto piacere ricevere nuove pre-iscrizioni, per poterne fare una bisogna scrivere una mail all'indirizzo e-mail <b>agesci.pd6@gmail.com</b>, contenenti i seguenti dati:
                        </p>
                        <ul class="motivi">
                              <li>nome cognome</li>
                              <li>data di nascita</li>
                              <li>classe frequentata nell'anno scolastico 2022-2023</li>
                              <li>parrocchia frequentata (catechismo)</li>
                              <li>indirizzo di casa / residenza</li>
                              <li>telefono fisso di casa (specificare se non presente)</li>
                              <li>telefono cellulare di un genitore</li>
                              <li>indirizzo e-mail di un genitore</li>
                        </ul>
                        </div>
                        </details>
                      </details>
                      <details>
                        <summary>Cos'è la promessa scout?</summary>
                        <div>
                        <p>La promessa è il rito più importante di tutti, si chiede ad ogni suo partecipante di seguire i principi che fondano lo scoutismo. Recita:<br>
                               "Con l'aiuto di Dio prometto sul mio onore di fare del mio meglio:<br>
                               per compiere il mio dovere verso Dio e verso il mio Paese;<br>
                               per aiutare gli altri in ogni circostanza;<br>
                              per osservare la Legge Scout."</p>
                        </div>
                        </details>
                      </details>
                  </div>
            </div>

      </div>  

            <div class="footer">
                  <div>
                        <h1>Capi Gruppo</h1>
                        <p>Pinco</p>
                        <p>Pallino</p>
                  </div>
                  <div>
                        <h1>Posto</h1>
                        <p>Cristo Re</p>
                        <p>Mondo</p>
                  </div>
                  <div>
                        <h1>Social</h1>
                        <p><a href="https://www.instagram.com/meme.pd6/">meme.pd6</a></p>
                        <p>+39 351 514 0746</p>
                  </div>
            </div>

      <% if (message.length>0) { %>
            <script>
                  var message = <%= message %> ;
                  console.log(message);
                  if (message == true) {
                        document.getElementById("destra1").style.display = "none";
                        document.getElementById("destra2").style.display = "none";
                        document.getElementById("destra-user").style.display = "block";
                  }
            </script>
      <% } %>
      <script>
           /* 
           onload="avvio()"
           var timer;
            function avvio() {
                  timer = setInterval(avanti, 3000);
            }
            var immagini = ["images/felpa1.jpeg", "images/felpa2.jpeg", "images/felpa3.jpeg", "images/felpa4.jpeg", "images/felpa5.jpeg", "images/felpa6.jpeg"];
            var pos = 0;
            function indietro() {
                  pos--;
                  if (pos < 0) pos = immagini.length - 1;
                  if (pos < 0) pos = 0;
                  document.getElementById("foto").src = immagini[pos];
            }
            function avanti() {
                  pos++;
                  if (pos == immagini.length) pos = 0;
                  if (pos == immagini.length) pos = immagini.length - 1;
                  document.getElementById("foto").src = immagini[pos];
            }*/
      </script>

      <script type="text/javascript">

            // Menu-toggle button

            $(document).ready(function () {
                  $(".menu-icon").on("click", function () {
                        $("nav ul").toggleClass("showing");
                  })

            });

            // Scrolling Effect

            $(window).on("scroll", function () {
                  if ($(window).scrollTop()) {
                        $('nav').addClass('black');
                  }

                  else {
                        $('nav').removeClass('black');
                  }
            })
            function lol(y) {
                  y.classList.toggle("change");
            }

      </script>

</body>

</html>