<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Padova 6</title>
      <link rel="stylesheet" href="/stylesheets/style-user.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
      <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
      <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script>  var socket = io();</script>
</head>

<body>
      <nav>
            <div class="menu-icon">
                  <div class="container" onclick="lol(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                  </div>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/Enciclopedia">Enciclopedia</a></li>
                    <li><a href="/Calendario">Calendario</a></li>
                    <li><a href="/foto">Foto</a></li>
                    <li id="destra-user" style="float:right"><a href="/User"><i class="fas fa-user"></i> Profilo</a>
                    </li>
              </ul>

            </div>
      </nav>

      <div class="content">
        <form action="/dati" method="POST">
            <div class="login_box">
              <!--div "madre" -->
              <h2 style="text-align: center;">Dati di <span id="username1"> </span></h2>
        
                  <label for="usernameid"><i class="fas fa-user"></i><b> Username</b></label>
                  <input type="text" placeholder="Nome Cognome" name="name" id="usernameid" required>
                  <!--da qui si può prendere lo username -->
        
                  <label for="email"><i class="fas fa-user"></i><b> Email</b></label>
                  <input type="email" placeholder="Enter Email" name="email" id="emailid" required>
        
                  <label for="password"><i class="fas fa-key"></i><b> Password</b></label>
                  <input type="password" placeholder="Enter Password" name="password" id="passwordid" required>
                  <!--da qui si può prendere la password -->
        
                  <label for="Confirmpassword"><i class="fas fa-key"></i><b> Confirm Password</b></label>
                  <input type="password" placeholder="Confirm Password" name="Confirmpassword" required>
        
                  <button type="submit">Register User <i class="fas fa-sign-in-alt"></i></button>
                  <label>
                    <input type="checkbox" checked="checked"> Remember me
                    <!--ho aggiunto il remember me ma se non si riesce lo si può togliere -->
                  </label>          
                    <p class="registro">Hai già un account? Fai il login <a style="color:white;" href="/login">QUI</a></p>
            </div>
          </form>
      </div>


      <div class="footer">
            <div>
                  <h1>Capi</h1>
                  <p>Pinco</p>
                  <p>Pallino</p>
            </div>
            <div>
                  <h1>Posto</h1>
                  <p>Cristo Re</p>
                  <p>Mondo</p>
            </div>
            <div>
                  <h1>Social</h1>
                  <p><a href="https://www.instagram.com/meme.pd6/">meme.pd6</a></p>
                  <p>+39 351 514 0746</p>
            </div>
      </div>

      <script type="text/javascript">

            // Menu-toggle button

            $(document).ready(function () {
                  $(".menu-icon").on("click", function () {
                        $("nav ul").toggleClass("showing");
                  })

            });

            // Scrolling Effect

            $(window).on("scroll", function () {
                  if ($(window).scrollTop()) {
                        $('nav').addClass('black');
                  }

                  else {
                        $('nav').removeClass('black');
                  }
            })
            function lol(y) {
                  y.classList.toggle("change");
            }

      </script>
      <script>
            var orders = <%- JSON.stringify(Orders) %>;
            var username = orders[0];
            var email = orders[1];
            var branca = orders[2];
            var admin_check = orders[3];
            console.log(orders);
            document.getElementById("username1").innerHTML = username;
            
            document.getElementById("email").innerHTML = email;


      </script>

</body>


</html>