<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style-login.css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
</head>

<body>
  <form action="/login" method="POST">
    <a href="/"><i class="fas fa-home casa"></i></a>
    <div class="login_box">
      <!--div "madre" -->

      <h2 style="text-align: center;">Padova Sei</h2>

      <% if (message.length>0) { %>
        <div id="error"><i class="fas fa-times"></i>
          <%= message %>
        </div>
        <% } %>

          <label for="email"><i class="fas fa-user"></i><b> Email</b></label>
          <input type="email" placeholder="Enter Email" name="email" id="emailid" required>

          <label for="password"><i class="fas fa-key"></i><b> Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" id="passwordid" required>
          <!--da qui si può prendere la password -->

          <button type="submit">Login <i class="fas fa-sign-in-alt"></i></button>
          <label>
            <input type="checkbox" checked="checked"> Remember me
            <!--ho aggiunto il remember me ma se non si riesce lo si può togliere -->
          </label>
            <p class="registro">Se non sei registrato clicca <a style="color:white;" href="/register">QUI</a></p>
    </div>
  </form>

  <div id="particles-js"></div>
  <script src="/javascripts/particles.js"></script>
  <script src="/javascripts/app.js"></script>
</body>

</html>