<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login page</title>

  <link rel='stylesheet' href='/stylesheets/style-login.css' />
  <%- include('head')%>
</head>

<body>
  <form action="/login" method="POST">
    <a href="/"><i class="fas fa-home casa"></i></a>

    <div class="login_box">

      <h2 style="text-align: center;color:white">BluKippe Login</h2>
      <% if (message.length>0) { %>
        <div id="error"><i class="fas fa-times"></i>
          <%= message %>
        </div>
        <% } %>
          <label for="email"><i class="fas fa-user"></i><b> Email</b></label>
          <input type="email" placeholder="Enter Email" name="email" id="emailid" required>

          <label for="password"><i class="fas fa-key"></i><b> Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" id="passwordid" required>

          <button type="submit">Login <i class="fas fa-sign-in-alt"></i></button>
          <p class="registro">Per andare al login del gestionale clicca <a style="color:white;" href="/register">QUI</a></p>
    </div>
  </form>

  <div id="particles-js"></div>
  <script src="/javascripts/particles.js"></script>
  <script src="/javascripts/app.js"></script>
</body>

</html>