<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Padova 6</title>
      <link rel="stylesheet" href="/stylesheets/style-medico.css">
      <link rel="stylesheet" href="/stylesheets/style-tutti.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
      <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
      <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script>  var socket = io();</script>
</head>

<body>
      <nav>
            <div class="menu-icon">
                  <div class="container" onclick="lol(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                  </div>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/Enciclopedia">Enciclopedia</a></li>
                    <li><a href="/Calendario">Calendario</a></li>
                    <li><a href="/foto">Foto</a></li>
                    <li id="destra-user" style="float:right"><a href="/User"><i class="fas fa-user"></i> Profilo</a>
                    </li>
              </ul>

            </div>
      </nav>
<div class="wrapper">
      <div class="content">
        <form action="/medico" method="POST">
            <div class="login_box">

              <h2 style="text-align: center;">Scheda Medica di <span id="username1"> </span></h2>
              <p style="text-align: center;">Lasciare il campo in bianco se non presenta note degne di merito</p>
        
                  <label for="email"><i class="fas fa-id-card"></i><b> N Tessera Sanitaria</b></label><br>
                  <input type="email" placeholder="Enter N of Tessera Sanitaria" name="email" id="emailid" required><br>
        
                  <label for="tel"><i class="fas fa-syringe"></i><b> Gruppo Sanguigno</b></label><br>
                  <input type="tel" placeholder="Enter Gruppo Sanguigno" name="telefono" id="telefonoid" required><br>

                  <label for=""><i class="fas fa-clinic-medical"></i><b> Disturbi (indicare se sono presenti uno o più dei seguenti disturbi:)</b></label><br>
                  <input type="checkbox" placeholder="user_status" name="casa" id="casaid">Cardiaco<br>
                  <input type="checkbox" placeholder="user_status" name="casa" id="casaid">Polmonare<br>
                  <input type="checkbox" placeholder="user_status" name="casa" id="casaid">Psichico<br>
                  <input type="checkbox" placeholder="user_status" name="casa" id="casaid">Anemia<br>
                  <input type="checkbox" placeholder="user_status" name="casa" id="casaid">Vertigini<br>
                  <input type="checkbox" placeholder="user_status" name="casa" id="casaid">Pressione alta<br>
                  <input type="checkbox" placeholder="user_status" name="casa" id="casaid">Pressione bassa<br>
                  <input type="checkbox" placeholder="user_status" name="casa" id="casaid">Episodi ricorrenti di raffreddore<br>
                  <input type="checkbox" placeholder="user_status" name="casa" id="casaid">Episodi ricorrenti di bronchite<br>
                  <input type="checkbox" placeholder="user_status" name="casa" id="casaid">Episodi asmatici<br>
                  <input type="text" placeholder="Altri disturbi" name="luogo_nascita" id="luogo_nascitaid"><br>

                  <label for=""><i class="fas fa-history"></i><b> Cure consigliate e in corso se insorgono tali disturbi</b></label><br>
                  <input type="text" placeholder="Enter Cure" name="data_nascita" id="data_nascitaid" ><br>

                  <label for=""><i class="fas fa-drumstick-bite"></i><b> Deve seguire limitazioni dietetiche o ha facilità al vomito, diarrea, dolore addominale?</b></label><br>
                  <input type="text" placeholder="Enter Dieta or other" name="fiscale" id="fiscaleid" ><br>

                  <label for=""><i class="fas fa-capsules"></i><b> Farmaci Analgesici</b></label><br>
                  <input type="text" placeholder="Enter Farmaci Analgesici" name="parrocchia" id="parrocchiaid" ><br>

                  <label for=""><i class="fas fa-thermometer"></i><b> In caso di febbre</b></label><br>
                  <input type="text" placeholder="Enter Farmaci Febbre" name="scuola" id="scuolaid" ><br>

                  <label for=""><i class="fas fa-first-aid"></i><b> In caso di raffreddore</b></label><br>
                  <input type="text" placeholder="Enter Farmaci Raffreddore" name="scuola" id="scuolaid" ><br>

                  <label for=""><i class="fas fa-allergies"></i><b> Allergie</b></label><br>
                  <input type="text" placeholder="Enter Allergie" name="scuola" id="scuolaid" ><br>

                  <label for=""><i class="fas fa-procedures"></i><b> Ha subito/avuto operazioni</b></label><br>
                  <input type="text" placeholder="Enter Operazioni" name="scuola" id="scuolaid" ><br>

                  <label for=""><i class="fas fa-bone"></i><b> Ha subito/avuto fratture</b></label><br>
                  <input type="text" placeholder="Enter Fratture" name="scuola" id="scuolaid" ><br>

                  <label for=""><i class="fas fa-head-side-mask"></i><b> Ha subito/avuto Malattie Infettive</b></label><br>
                  <input type="text" placeholder="Enter Malattie Infettive" name="scuola" id="scuolaid" ><br>

                  <label for="casaid"><i class="fas fa-tint"></i><b> Ha già avuto le prime mestruazioni?</b></label><br>
                  <input type="checkbox" placeholder="user_status" name="casa" id="casaid"style="transform: translateY(10px);"><br>

                  <label for=""><i class="fas fa-notes-medical"></i><b> Eventuali notizie mediche personali più specifiche</b></label><br>
                  <input type="text" placeholder="Enter Note" name="scuola" id="scuolaid" ><br>  
        
                  <button type="submit"><b>Invia </b><i class="fas fa-paper-plane"></i></button>
       
            </div>
          </form>
      </div>


      <div class="footer">
            <div>
                  <h1>Capi</h1>
                  <p>Pinco</p>
                  <p>Pallino</p>
            </div>
            <div>
                  <h1>Posto</h1>
                  <p>Cristo Re</p>
                  <p>Mondo</p>
            </div>
            <div>
                  <h1>Social</h1>
                  <p><a href="https://www.instagram.com/meme.pd6/">meme.pd6</a></p>
                  <p>+39 351 514 0746</p>
            </div>
      </div>
</div>
      <script type="text/javascript">

            // Menu-toggle button

            $(document).ready(function () {
                  $(".menu-icon").on("click", function () {
                        $("nav ul").toggleClass("showing");
                  })

            });

            // Scrolling Effect

            $(window).on("scroll", function () {
                  if ($(window).scrollTop()) {
                        $('nav').addClass('black');
                  }

                  else {
                        $('nav').removeClass('black');
                  }
            })
            function lol(y) {
                  y.classList.toggle("change");
            }

      </script>
      <script>
            var orders = <%- JSON.stringify(jsonProfilo) %>;
            var username = orders[0].user_name;
            var email = orders[0].user_email;
            var telefono = orders[0].telefono;
            var indirizzo = orders[0].indirizzo;
            var luogo_nascita = orders[0].luogo_nascita;
            var data_nascita = orders[0].data_nascita;
            var fiscale = orders[0].fiscale;
            var parrocchia = orders[0].parrocchia;
            var scuola = orders[0].scuola;
            var casa = orders[0].casa;
            document.getElementById("username1").innerHTML = username;
            document.getElementById("usernameid").value = username;            
            document.getElementById("emailid").value = email;
            document.getElementById("telefonoid").value = telefono;
            document.getElementById("indirizzoid").value = indirizzo;            
            document.getElementById("luogo_nascitaid").value = luogo_nascita;
            document.getElementById("data_nascitaid").value = data_nascita;            
            document.getElementById("fiscaleid").value = fiscale;
            document.getElementById("parrocchiaid").value = parrocchia;
            document.getElementById("scuolaid").value = scuola;   
            if(casa.data == 0)document.getElementById("casaid").checked = false;
            else{document.getElementById("casaid").checked = true;}

            console.log(orders);
            console.log(casa.data);
            
            


      </script>

</body>


</html>