<nav>
    <div class="menu-icon">
          <div class="container" onclick="apriMenu(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
          </div>
    </div>
    <a href="/" class="nascosto"><i class="fas fa-home casa"></i></a>
    <div class="menu">
          <ul>
                <li><a href="/Chi_Siamo">Chi Siamo</a></li>
                <li><a href="/Contatti">Contatti</a></li>
                <li><a href="/Prenotazione">Prenotazione</a></li>
                <li id="destra1" style="float:right" class="nascosto2"><a href="/">Home <i
                                  class="fas fa-home"></i></a></li>
                <li id="destra1" style="float:right"><a href="/Login">Login <i
                                  class="fas fa-sign-in-alt"></i></a></li>
          </ul>

    </div>
</nav>