<div class="path">
    <svg>
        <defs>
        </defs>
        <path class="st0" d="M0,240.34V25.91c129.62-3.18,259.24-6.36,396-3.57s280.66,11.54,425.33,17.87s290.13,10.23,400,0
S1405.49,5.63,1516,0.9c110.51-4.74,257.26,10.14,404,25.02v214.43H0z" />
        <path class="st1" d="M0,240.34V124.25c130.85,0.52,261.69,1.04,373.33-4.17s204.08-16.14,324-14.6
c119.92,1.55,267.31,15.58,408,25.72s274.67,16.4,409.33,14.6c134.66-1.81,270-11.68,405.33-21.55v116.08H0z" />
    </svg>
</div>