<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Padova 6</title>
      <link rel="stylesheet" href="/stylesheets/style-profile.css">
      <link rel="stylesheet" href="/stylesheets/style-tutti.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
      <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
      <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script>  var socket = io();</script>
</head>

<body onload="myFunction()">
      <nav>
            <div class="menu-icon">
                  <div class="container" onclick="lol(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                  </div>
            </div>

            <div class="menu">
                  <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/Enciclopedia">Enciclopedia</a></li>
                        <li><a href="/Calendario">Calendario</a></li>
                        <li><a href="/foto">Foto</a></li>
                        <li id="destra-user" style="float:right"><a href="/User"><i class="fas fa-user"></i> Profilo</a>
                        </li>
                  </ul>
            </div>
      </nav>
      <div class="wrapper">
            <div class="content largo">
                  <div class="tabelle"> 
                  <h1 class="titolo-altri">Profili</h1>
                  <h3>Branco <span id="nLC"></span></h1>
                  <table id="mytableLC" class="pagamenti">
                        <tr>
                              <th style="width:35px;">Id</th>
                              <th>user_name</th>
                              <th>user_email</th>
                              <th style="width:100px;">telefono</th>
                              <th style="width:95px;">user_status</th>
                              <th style="width:105px;">admin_check</th>
                        </tr>
                  </table>
                  <h3>Reparto <span id="nEG"></span></h1>
                  <table id="mytableEG" class="pagamenti">
                        <tr>
                              <th style="width:35px;">Id</th>
                              <th>user_name</th>
                              <th>user_email</th>
                              <th style="width:100px;">telefono</th>
                              <th style="width:95px;">user_status</th>
                              <th style="width:105px;">admin_check</th>
                        </tr>
                  </table>
                  <h3>Noviziato <span id="nNO"></span></h1>
                  <table id="mytableNO" class="pagamenti">
                        <tr>
                              <th style="width:35px;">Id</th>
                              <th>user_name</th>
                              <th>user_email</th>
                              <th style="width:100px;">telefono</th>
                              <th style="width:95px;">user_status</th>
                              <th style="width:105px;">admin_check</th>
                        </tr>
                  </table>
                  <h3>Clan <span id="nRS"></span></h1>
                  <table id="mytableRS" class="pagamenti">
                        <tr>
                              <th style="width:35px;">Id</th>
                              <th>user_name</th>
                              <th>user_email</th>
                              <th style="width:100px;">telefono</th>
                              <th style="width:95px;">user_status</th>
                              <th style="width:105px;">admin_check</th>
                        </tr>
                  </table>
                  <h3>Gente non inserita <span id="nALTRI"></span></h1>
                  <table id="mytableALTRI" class="pagamenti">
                        <tr>
                              <th style="width:35px;">Id</th>
                              <th>user_name</th>
                              <th>user_email</th>
                              <th style="width:100px;">telefono</th>
                              <th style="width:95px;">user_status</th>
                              <th style="width:105px;">admin_check</th>
                        </tr>
                  </table>
                  <h3>Co.Ca. <span id="nCAPI"></span></h1>
                        <table id="mytableCAPI" class="pagamenti">
                              <tr>
                                    <th style="width:35px;">Id</th>
                                    <th>user_name</th>
                                    <th>user_email</th>
                                    <th style="width:100px;">telefono</th>
                                    <th style="width:95px;">user_status</th>
                                    <th style="width:105px;">admin_check</th>
                              </tr>
                        </table>
                  </div>
                  <div id="error">
                        <i style="display:inline" class="fas fa-times"></i>
                        <p style="display:inline" id="messaggio"></p>
                  </div>

                  <div class="forms">
                  <form action="/update" method="POST" class="formato">
                        <b style="font-size:2em;/*background:#f3f6fc*/">Update</b><br>
                        <input type="number" placeholder="id" name="id" required>
                  
                        <input type="text" placeholder="branca" name="branca"><br>
                  
                        <input type="text" placeholder="Enter Username" name="name" id="usernameid">
                  
                        <input type="email" placeholder="Enter Email" name="email" id="emailid"><br>
                  
                        <label>user_status
                        <input type="checkbox" placeholder="user_status" name="user_status" checked></label><br>
                  
                        <label>admin_check
                              <input type="checkbox" placeholder="admin_check" name="admin_check"></label><br>
                  
                        <button type="submit"><b>Aggiorna</b><i class="fa">&#xf021;</i></button>
                  </form>

                  <form action="/register_admin" method="POST" class="formato">
                        <b style="font-size:2em;">Add Profile</b><br>
                        <input type="text" placeholder="Enter Username" name="name" id="usernameid" required>

                        <input type="email" placeholder="Enter Email" name="email" id="emailid" required><br>

                        <input type="password" placeholder="Enter Password" name="password" id="passwordid"
                              required>

                        <input type="password" placeholder="Confirm Password" name="Confirmpassword" required><br>

                        <input type="text" placeholder="branca" name="branca" required><br>

                        <label>user_status
                        <input type="checkbox" placeholder="user_status" name="user_status" checked></label><br>

                        <label>admin_check
                        <input type="checkbox" placeholder="admin_check" name="admin_check"></label><br>

                        <button type="submit"><b>Aggiungi</b><i class="fas fa-plus"></i></button>

                  </form>

                  <form action="/delete" method="POST" class="formato">
                        <b style="font-size:2em;">Delete</b><br>
                        <input type="text" placeholder="id" name="id" id="usernameid" required><br>

                        <button type="submit"><b>Elimina</b><i class="fas fa-minus"></i></button>

                  </form>
            </div>
            </div>
      
      <div class="footer">
            <div>
                  <h1>Capi</h1>
                  <p>Pinco</p>
                  <p>Pallino</p>
            </div>
            <div>
                  <h1>Posto</h1>
                  <p>Cristo Re</p>
                  <p>Mondo</p>
            </div>
            <div>
                  <h1>Social</h1>
                  <p><a href="https://www.instagram.com/meme.pd6/">meme.pd6</a></p>
                  <p>+39 351 514 0746</p>
            </div>
      </div>
</div>
      <script type="text/javascript">

            // Menu-toggle button

            $(document).ready(function () {
                  $(".menu-icon").on("click", function () {
                        $("nav ul").toggleClass("showing");
                  })
            });

            // Scrolling Effect

            $(window).on("scroll", function () {
                  if ($(window).scrollTop()) {
                        $('nav').addClass('black');
                  }

                  else {
                        $('nav').removeClass('black');
                  }
            })
            function lol(y) {
                  y.classList.toggle("change");
            }
      </script>
      <script>
            var pag = <%- JSON.stringify(jsonPagamanti) %>;
            console.log(pag);
            if (pag[2].length > 0) {
                  document.getElementById("messaggio").innerHTML = pag[2];
                  error.style.display = 'block';
                  document.querySelector('.formato').style.padding = "0px";
            }

            function pinco() {
                  const cb = document.getElementById('oggi');
                  if (cb.checked == true) document.getElementById("date").disabled = true;
                  else document.getElementById("date").disabled = false;
            }
      </script>
      <script>
            function myFunction() {                  
                  var lungo = Object.keys(pag).length;
                  //console.log(lungo);
                  var righeLC=0,righeEG=0,righeNO=0,righeRS=0,righeALTRI=0,righeCAPI=0;
                  for (var i = 0; i < lungo-1; i++) {
                        //console.log(pag[i].branca);
                        if(pag[i].admin_check.data == 0){
                        switch (pag[i].branca){                              
                              case "LC":                                    
                                    var table = document.getElementById("mytableLC");
                                    var row = table.insertRow(righeLC + 1);
                                    var cell1 = row.insertCell(0);
                                    var cell2 = row.insertCell(1);
                                    var cell3 = row.insertCell(2);
                                    var cell4 = row.insertCell(3);
                                    var cell5 = row.insertCell(4);
                                    var cell6 = row.insertCell(5);
                                    cell1.innerHTML = pag[i].id;
                                    cell2.innerHTML = pag[i].user_name;
                                    cell3.innerHTML = pag[i].user_email;
                                    cell4.innerHTML = pag[i].telefono;
                                    cell5.innerHTML = pag[i].user_status.data;
                                    cell6.innerHTML = pag[i].admin_check.data;                                    
                                    righeLC++;
                                    break;
                              case "EG":
                                    var table = document.getElementById("mytableEG");
                                    var row = table.insertRow(righeEG + 1);
                                    var cell1 = row.insertCell(0);
                                    var cell2 = row.insertCell(1);
                                    var cell3 = row.insertCell(2);
                                    var cell4 = row.insertCell(3);
                                    var cell5 = row.insertCell(4);
                                    var cell6 = row.insertCell(5);
                                    cell1.innerHTML = pag[i].id;
                                    cell2.innerHTML = pag[i].user_name;
                                    cell3.innerHTML = pag[i].user_email;
                                    cell4.innerHTML = pag[i].telefono;
                                    cell5.innerHTML = pag[i].user_status.data;
                                    cell6.innerHTML = pag[i].admin_check.data; 
                                    righeEG++;
                                    break;
                              case "NO":
                                    var table = document.getElementById("mytableNO");
                                    var row = table.insertRow(righeNO + 1);
                                    var cell1 = row.insertCell(0);
                                    var cell2 = row.insertCell(1);
                                    var cell3 = row.insertCell(2);
                                    var cell4 = row.insertCell(3);
                                    var cell5 = row.insertCell(4);
                                    var cell6 = row.insertCell(5);
                                    cell1.innerHTML = pag[i].id;
                                    cell2.innerHTML = pag[i].user_name;
                                    cell3.innerHTML = pag[i].user_email;
                                    cell4.innerHTML = pag[i].telefono;
                                    cell5.innerHTML = pag[i].user_status.data;
                                    cell6.innerHTML = pag[i].admin_check.data; 
                                    righeNO++;
                                    break;
                              case "RS":
                                    var table = document.getElementById("mytableRS");
                                    var row = table.insertRow(righeRS + 1);
                                    var cell1 = row.insertCell(0);
                                    var cell2 = row.insertCell(1);
                                    var cell3 = row.insertCell(2);
                                    var cell4 = row.insertCell(3);
                                    var cell5 = row.insertCell(4);
                                    var cell6 = row.insertCell(5);
                                    cell1.innerHTML = pag[i].id;
                                    cell2.innerHTML = pag[i].user_name;
                                    cell3.innerHTML = pag[i].user_email;
                                    cell4.innerHTML = pag[i].telefono;
                                    cell5.innerHTML = pag[i].user_status.data;
                                    cell6.innerHTML = pag[i].admin_check.data; 
                                    righeRS++;
                                    break;  
                              default:
                                    var table = document.getElementById("mytableALTRI");
                                    var row = table.insertRow(righeRS + 1);
                                    var cell1 = row.insertCell(0);
                                    var cell2 = row.insertCell(1);
                                    var cell3 = row.insertCell(2);
                                    var cell4 = row.insertCell(3);
                                    var cell5 = row.insertCell(4);
                                    var cell6 = row.insertCell(5);
                                    cell1.innerHTML = pag[i].id;
                                    cell2.innerHTML = pag[i].user_name;
                                    cell3.innerHTML = pag[i].user_email;
                                    cell4.innerHTML = pag[i].telefono;
                                    cell5.innerHTML = pag[i].user_status.data;
                                    cell6.innerHTML = pag[i].admin_check.data;     
                                    righeALTRI++;                
                        }
                  }else{
                        var table = document.getElementById("mytableCAPI");
                                    var row = table.insertRow(righeRS + 1);
                                    var cell1 = row.insertCell(0);
                                    var cell2 = row.insertCell(1);
                                    var cell3 = row.insertCell(2);
                                    var cell4 = row.insertCell(3);
                                    var cell5 = row.insertCell(4);
                                    var cell6 = row.insertCell(5);
                                    cell1.innerHTML = pag[i].id;
                                    cell2.innerHTML = pag[i].user_name;
                                    cell3.innerHTML = pag[i].user_email;
                                    cell4.innerHTML = pag[i].telefono;
                                    cell5.innerHTML = pag[i].user_status.data;
                                    cell6.innerHTML = pag[i].admin_check.data;    
                                    righeCAPI++;
                  }
                  }
                  document.getElementById("nLC").innerHTML = "("+ righeLC + ")";
                  document.getElementById("nEG").innerHTML = "("+ righeEG + ")";
                  document.getElementById("nNO").innerHTML = "("+ righeNO + ")";
                  document.getElementById("nRS").innerHTML = "("+ righeRS + ")";
                  document.getElementById("nALTRI").innerHTML = "("+ righeALTRI + ")";
                  document.getElementById("nCAPI").innerHTML = "("+ righeCAPI + ")";
            }
      </script>
      
</body>

</html>


