<!DOCTYPE html>
<html lang="en">

<head>
  <title>Register page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style-login.css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
  <script src="/socket.io/socket.io.js"></script>
  <script>  var socket = io();</script>
</head>

<body>
  <form action="/register" method="POST">
    <a href="/"><i class="fas fa-home casa"></i></a>
    <div class="login_box">
      <h2 style="text-align: center;margin-bottom: 7px;">Padova Sei</h2>
      <!--<p style="text-align: center;margin-top: 0px;">Inserire i dati di chi si vuole iscrivere:</p>-->
      <% if (message.length>0) { %>
        <div id="error"><i class="fas fa-times"></i>
          <%= message %>
        </div>
        <% } %>

          <label for="usernameid"><i class="fas fa-user"></i><b> Username</b></label>
          <input type="text" placeholder="Nome Cognome" name="name" id="usernameid" required>

          <label for="email"><i class="fas fa-user"></i><b> Email</b></label>
          <input type="email" placeholder="Enter Email" name="email" id="emailid" required>

          <label for="password"><i class="fas fa-key"></i><b> Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" id="passwordid" required>

          <label for="Confirmpassword"><i class="fas fa-key"></i><b> Confirm Password</b></label>
          <input type="password" placeholder="Confirm Password" name="Confirmpassword" required>

          <button type="submit">Register User <i class="fas fa-sign-in-alt"></i></button>
          <label>
            <input type="checkbox" checked="checked"> Remember me
          </label>          
            <p class="registro">Hai già un account? Fai il login <a style="color:white;" href="/login">QUI</a></p>
    </div>
  </form>

  <div id="particles-js"></div>
  <script src="/javascripts/particles.js"></script>
  <script src="/javascripts/app.js"></script>
</body>

</html>