<div class="slideshow" id="paginated_gallery">
    <div class="parent" id="gallery_scroller"></div>
    <a class="bottone right" onclick="avanti()">❯</a>
    <a class="bottone left" onclick="indietro()">❮</a>
</div>