<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Padova 6</title>
      <link rel="stylesheet" href="/stylesheets/style-user.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
      <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
      <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script>  var socket = io();</script>
</head>

<body>
      <nav>
            <div class="menu-icon">
                  <div class="container" onclick="lol(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                  </div>
            </div>

            <div class="menu">
                  <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/Enciclopedia">Enciclopedia</a></li>
                        <li><a href="/Calendario">Calendario</a></li>
                        <li><a href="/foto">Foto</a></li>
                        <li id="destra-user" style="float:right;"><a href="/logout">Logout <i
                                          class="fas fa-sign-out-alt"></i></a></li>
                  </ul>

            </div>
      </nav>

      <div class="content">
            <p id="benvenuto"><img src="images/profile.jpg"> <span id="benvenuto2">Benvenuto</span> <span id="username1"> </span> <span
                        id="branca"></span><span style="color:#5D3FD3"id="capo"></span> </p>


            <p style="font-size: 26px;margin-bottom:15px;">Profilo</p>
            <hr>
            <div class="flessione"><span class="flessione1">Nome:</span> <span id="username2"
                        class="flessione2"></span><span class="flessione3">Cambia</span></div>
            <hr>
            <div class="flessione"><span class="flessione1">Email: </span> <span id="email"
                        class="flessione2"></span><span class="flessione3">Cambia</span></div>
            <hr>
            <div id="accettato" style="displaY:none;">
                  <div class="flessione"><span class="flessione1">Unità: </span> <span id="branca2"
                              class="flessione2"></span><span class="flessione3"></span></div>
                  <hr>
                  <div class="flessione"><span class="flessione1">Telefono: </span> <span id="branca2"
                        class="flessione2"></span><span class="flessione3">Cambia</span></div>
                  <hr>
                  <div class="flessione"><span class="flessione1">Indirizzo: </span> <span id="branca2"
                        class="flessione2"></span><span class="flessione3">Cambia</span></div>
                  <hr>
                  <div class="flessione"><span class="flessione1">Luogo di nascita: </span> <span id="branca2"
                        class="flessione2"></span><span class="flessione3">Cambia</span></div>
                  <hr>
                  <div class="flessione"><span class="flessione1">Data di nascita: </span> <span id="branca2"
                        class="flessione2"></span><span class="flessione3">Cambia</span></div>
                  <hr>
                  <div class="flessione"><span class="flessione1">Codice fiscale: </span> <span id="branca2"
                        class="flessione2"></span><span class="flessione3">Cambia</span></div>
                  <hr>
                  <div class="flessione"><span class="flessione1">Parrocchia frequentata: </span> <span id="branca2"
                        class="flessione2"></span><span class="flessione3">Cambia</span></div>
                  <hr>
                  <div class="flessione"><span class="flessione1">Scuola frequentata: </span> <span id="branca2"
                        class="flessione2"></span><span class="flessione3">Cambia</span></div>
                  <hr>
                  <div class="flessione"><span class="flessione1">Può tornare a casa da solo: </span> <span id="branca2"
                        class="flessione2"></span><span class="flessione3">Cambia</span></div>
            <hr>
            </div>
            <ul id="links_admin"class="links_admin">
                  <li><a href="/pagamenti" class="radio"style="border-radius: 16px 0px 0px 16px;">Pagamenti</a></li><br>
                  <li class="dropdown"><a >Documenti <i class="fas fa-caret-down"></i></a>
                        <div class="dropdown-content">
                              <a href="/documenti?token=LC">Branco</a>
                              <a href="/documenti?token=EG">Reparto</a>
                              <a href="/documenti?token=NO">Noviziato</a>
                              <a href="/documenti?token=RS">Clan</a>
                        </div>
                  </li><br>
                  <li><a href="/chat">Chat(beta)</a></li><br>
                  <li><a href="/profili" class="link-profili">Profili</a></li>
            </ul>
            <p id="documenti">Documenti</p>
            <div id="links_user"class="links"style="display:none">
                  <a href="/Iscrizioni"><img class="box verde" src="images/doc.jpg"> <br><b>Iscrizione</b></a>
                  <a href="/Iscrizioni"><img class="box rosso" src="images/doc.jpg"> <br><b>Scheda Farmaci</b></a>
                  <a href="/Iscrizioni"><img class="box verde" src="images/doc.jpg"> <br><b>Vaccini</b></a>
            </div>



      </div>


      <div class="footer">
            <div>
                  <h1>Capi</h1>
                  <p>Pinco</p>
                  <p>Pallino</p>
            </div>
            <div>
                  <h1>Posto</h1>
                  <p>Cristo Re</p>
                  <p>Mondo</p>
            </div>
            <div>
                  <h1>Social</h1>
                  <p><a href="https://www.instagram.com/meme.pd6/">meme.pd6</a></p>
                  <p>+39 351 514 0746</p>
            </div>
      </div>

      <script type="text/javascript">

            // Menu-toggle button

            $(document).ready(function () {
                  $(".menu-icon").on("click", function () {
                        $("nav ul").toggleClass("showing");
                  })

            });

            $(document).ready(function () {
                  $(".dropdown").on("click", function () {
                        $(".dropdown-content").toggleClass("showing2");
                  })

            });

            // Scrolling Effect

            $(window).on("scroll", function () {
                  if ($(window).scrollTop()) {
                        $('nav').addClass('black');
                  }

                  else {
                        $('nav').removeClass('black');
                  }
            })
            function lol(y) {
                  y.classList.toggle("change");
            }

      </script>
      <script>
            var orders = <%- JSON.stringify(Orders) %>;
            var username = orders[0];
            var email = orders[1];
            var branca = orders[2];
            var admin_check = orders[3];
            console.log(orders);
            switch (branca) {
                  case "LC":
                  document.getElementById("branca2").innerHTML = "Branco";
                        break;
                  case "EG":
                  document.getElementById("branca2").innerHTML = "Reparto";
                        break;
                  case "RS":
                  document.getElementById("branca2").innerHTML = "Clan";
                        break;
                  default:
                  document.getElementById("branca2").innerHTML = "Non fai parte del gruppo";
            }
            document.getElementById("username1").innerHTML = username;
            document.getElementById("username2").innerHTML = username;
            
            document.getElementById("email").innerHTML = email;


            if(branca){ 
                  document.getElementById("branca").innerHTML = "[" + branca + "]";
                  document.getElementById("accettato").style.display = "block";
                  document.getElementById("links_user").style.display = "flex";
                  document.getElementById("documenti").style.display = "block";
            }
            if (branca == "LC") document.getElementById("branca").style.color = "orange";
            if (branca == "EG") document.getElementById("branca").style.color = "green";
            if (branca == "RS") document.getElementById("branca").style.color = "red";
            if (admin_check == 0) document.getElementById("links_admin").style.display = "none";
            if (admin_check == 1) {
                  //document.getElementById("links_user").style.display = "none";
                  //document.getElementById("documenti").style.display = "none";
                  document.getElementById("capo").innerHTML = "[dev]";
            }
      </script>

</body>


</html>