
.parallax{
    width: 100%;
    display:block;
    background-size: cover !important;
    z-index: 1;
    background-attachment: fixed !important;
    position:relative;
    /*opacity:0.8;*/
}
.imgmain{
    height: 90vh;
    background: url(/images/gruppon.png) no-repeat 50% 50%;

}

.custom-shape-divider-bottom-1636649910 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1636649910 svg {
    position: relative;
    display: block;
    width: calc(107% + 1.3px);
    height: 120px;
}

.custom-shape-divider-bottom-1636649910 .shape-fill {
    fill: #f1f1f1;
}


.titolo {
    color: #fff;
    background-color: #000 !important;
    padding: 12px 24px !important;
    text-align: center !important;
    font-size: 24px !important;
    letter-spacing: 15px;
    margin: auto;
    position: absolute;
    z-index: 2;
    opacity: 0.75;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

.mezzo{
    width:100%;
}

.titolo-primo{
    text-align: center;
    margin:0; 
    padding-top: 20px;
    font-size:24px;
    font-weight: 400;
}

.titolo-altri{
    font-size: 30px;
    padding-left:20px;
    font-weight: 500;
    margin: 0px 0px 10px 0px;/* top right bottom left*/
    line-height: 35px;
}

@media (max-width: 786px) {

  .parallax{
        background-attachment: scroll !important;
  }
  .imgmain{
        height:60vh;
  }

  .titolo{
        letter-spacing: 10px;
  }
}