.titolo {
  color: #fff;
  background-color: #000 !important;
  padding: 12px 24px !important;
  text-align: center !important;
  font-size: 24px !important;
  letter-spacing: 15px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titolo-altri {
  font-size: 25px;
  font-weight: 500;
  line-height: 35px;
}

#benvenuto {
  font-size: 28px;
  text-align: center;
  color: rgb(29, 29, 29);
  white-space: nowrap;
  overflow: hidden;
  margin: 20px 0px 0px 0px;
}

.pagamenti,
.pagamenti td,
.pagamenti th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px;

}

.formato {
  padding-top: 30px;
}

.formato input,
.formato button {
  padding: 5px;
  margin: 5px;
}

#error {
  background-color: #FFD2D2;
  color: #D8000C;
  margin: 10px 5px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #D8000C;
  display: none;
}


@media (max-width: 786px) {

  .links {
    justify-content: space-evenly;
  }
}