*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height:100vh;
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
    background-color:#f1f1f1;;
}


nav {
    position: absolute;
    width: 100%;
    line-height: 60px;
    z-index: 3;
    top:0;
}

nav ul {
    position:fixed;
    line-height: 60px;
    list-style: none;
    background-color:cornflowerblue;
    overflow: hidden;
    padding: 0;
    text-align: right;
    margin: 0;
    transition: 0.8s;
    width:100vw;
}

nav.black ul {
    background: #000;
}

nav.black ul li a {
    color: #777;
    transition: 0.8s;
}

nav.black ul li a:hover{
    color:#ffffff;
    background:black;


} 

nav ul li {
    float:left;
    padding:0;
    margin:0;
}

nav ul li .destra{
    float:right;
    right:0;


}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 16px 40px;
    
}
nav ul li a:hover{
    
    background: rgba(119, 119, 119, 0.404);


} 
.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

.bar1  {
  width: 35px;
  height: 5px;
  background-color: white;
  transition: 0.4s;
  border-radius:7px; 
}
  
.bar2{
  width: 35px;
  height: 5px;
  background-color: white;
  margin-top:5px;
  margin-bottom:5px;
  transition: 0.4s;  
  border-radius:7px;

}
  
.bar3{
  width: 35px;
  height: 5px;
  background-color: white;
  transition: 0.4s;
  border-radius:7px;
}
  
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.sinistra{
    width:40vw;
    height:100vh;
    background-color:cornflowerblue;
    float: left;
}

.chat-messages{
    height:100vh;
    padding-bottom:60px;
    padding-top:62px;
    margin-left:40vw;
    float: right;
    overflow: scroll;
    position: absolute;
    width:60vw;
}

.username{
    font-size:16px;
    color:purple;
    margin:0;
    padding:0;
}

.time{
    font-size:14px;
    color:gray;
    margin:0;
    padding:0;
}

.text{
    margin:0;
    padding:0;
}

.messaggio{
    width:80vw;
    margin-right:-5px;
    height:40px;
    padding:0;
}

.manda{
    width:80px;
    text-align:center;
    margin:0;
    height:40px;
    outline:none;
    color:cornflowerblue;
}
form{
    position:absolute;
    bottom:15px;
    left:5vw;
}

@media (max-width: 786px) {

    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    nav ul {
          max-height: 0px;
          background: #000;
          color:#ffffff;
    }

    nav.black ul {
          background: #000;
    }

    .showing {
          max-height: 34em;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
    }
    nav ul li a{
          color:#ffffff;
    }

    .menu-icon {
          display: block;
    }

    .messaggio{
        width:75vw;
    }
    .manda{
        width: 15vw;
    }
    .annulla{
        display:none;
    }
    .sinistra{
        display:none;
    }
    .chat-messages{
        width:100vw;
        margin-left:0vw;
        padding-left: 40px;
    }

}