.mappa {
      width: 100%;
      border-radius: 15px;
      border: 0px;
}

.location {
      display: flex;
      flex-direction: row;
      font-size: 16px;
      text-align: center;
      justify-content: center;
      align-items: center;
      width: 100%;
}

.flex-item-left {
      padding: 10px;
      flex: 25%;
}

.flex-item-center {
      padding: 10px;
      flex: 25%;
}

.flex-item-right {
      padding: 10px;
      flex: 25%;
}

.FAQ {
      font-size: 40px;
}

details {
      background-color: rgb(29, 29, 29);
      color: #fff;
      font-size: 15px;
}

summary {
      padding: .5em 1.3rem;
      list-style: none;
      display: flex;
      justify-content: space-between;
      transition: height 1s ease;
}

summary::-webkit-details-marker {
      display: none;
}

summary:after {
      content: "\002B";
}

details[open] summary {
      border-bottom: 1px solid #aaa;
      margin-bottom: .5em;
}

details[open] summary:after {
      content: "\00D7";
}

details[open] div {
      padding: .5em 1em;
}

@media (max-device-width: 786px) {
      .location {
            flex-direction: column;
      }

      .FAQ {
            font-size: 24px;
      }

      .inverso {
            flex-direction: column-reverse !important;
      }
}